/* Pour sélectionner une couleur, trouver son code hexadécimal sur : XXX */
:root {
    /* citations */
    --LOC: #fff683;
    --TIT: #bdbdbd;
    --NVM: #ff8a8a;
    /* commentaires */
    --CONTR: #010101;
    --EGO:   #6610f2;
    --GEO:   #6f42c1;
    --HIST:  #e83e8c;
    --LECT:  #dc3545;
    --MENT:  #fd7e14;
    --MIL:   #ffc107;
    --MOR:   #28a745;
    --OPER:  #20c997;
    --POL:   #17a2b8;
    --REAL:  #6c757d;
    --SENS:  #deb887;
    --STYL:  #007bff;
    --VOC:   #aaaaaa;
    /* thème du site */
    --MAIN-COLOR: #6b1c23; /* "rouge impérial" */
}
/* FIN de la zone à modifier */
/*** Bandeau supérieur ***/
#top-nav {
    background-color: var(--MAIN-COLOR) !important;
}

/*** Types de citation ***/
[data-type="LOC"], #LOC {
    background-color: var(--LOC);
    color: black;
}
[data-label="LOC"] {
    color: var(--LOC);
}

[data-type="TIT"], #TIT {
    background-color: var(--TIT);
    color: black;
}
[data-label="TIT"] {
    color: var(--TIT);
}
[data-type="NVM"], #NVM {
    background-color: var(--NVM);
    color: black;
}
[data-label="NVM"] {
    color: var(--NVM);
}
/* Toutes les citations */
[data-type="LOC"], [data-type="TIT"], [data-type="NVM"] {}
/* Tous les filtres de citation */
#LOC:not([action]), #TIT:not([action]), #NVM:not([action]) {
    opacity: .7;
}

/** Types de commentaire ***/
[data-type="CONTR"], #CONTR {
    background-color: var(--CONTR);
    color: white;
}
[data-type="EGO"], #EGO {
    background-color: var(--EGO);
    color: white;
}
[data-type="GEO"], #GEO {
    background-color: var(--GEO);
    color: white;
}
[data-type="HIST"], #HIST {
    background-color: var(--HIST);
    color: white;
}
[data-type="LECT"], #LECT {
    background-color: var(--LECT);
    color: white;
}
[data-type="MENT"], #MENT {
    background-color: var(--MENT);
    color: white;
}
[data-type="MIL"], #MIL {
    background-color: var(--MIL);
    color: white;
}
[data-type="MOR"], #MOR {
    background-color: var(--MOR);
    color: white;
}
[data-type="OPER"], #OPER {
    background-color: var(--OPER);
    color: white;
}
[data-type="POL"], #POL {
    background-color: var(--POL);
    color: white;
}
[data-type="REAL"], #REAL {
    background-color: var(--REAL);
    color: white;
}
[data-type="SENS"], #SENS {
    background-color: var(--SENS);
    color: white;
}
[data-type="STYL"], #STYL {
    background-color: var(--STYL);
    color: white;
}
[data-type="VOC"], #VOC {
    background-color: var(--VOC);
    color: white;
}
[data-label="CONTR"] {
    color: var(--CONTR);
}
[data-label="EGO"] {
    color: var(--EGO);
}
[data-label="GEO"] {
    color: var(--GEO);
}
[data-label="HIST"] {
    color: var(--HIST);
}
[data-label="LECT"] {
    color: var(--LECT);
}
[data-label="MENT"] {
    color: var(--MENT);
}
[data-label="MIL"] {
    color: var(--MIL);
}
[data-label="MOR"] {
    color: var(--MOR);
}
[data-label="OPER"] {
    color: var(--OPER);
}
[data-label="POL"] {
    color: var(--POL);
}
[data-label="REAL"] {
    color: var(--REAL);
}
[data-label="SENS"] {
    color: var(--SENS);
}
[data-label="STYL"] {
    color: var(--STYL);
}
[data-label="VOC"] {
    color: var(--VOC);
}
/* Tous les bagdes de commentaire */
[data-type="CONTR"],[data-type="EGO"],[data-type="GEO"],[data-type="HIST"],[data-type="LECT"],[data-type="MENT"],[data-type="MIL"],[data-type="MOR"],[data-type="OPER"],[data-type="POL"],[data-type="REAL"],[data-type="SENS"],[data-type="STYL"],[data-type="VOC"] {
    font-family: serif;
}
/* Tous les filtres de commentaire initiaux */
#CONTR:not([action]),#EGO:not([action]),#GEO:not([action]),#HIST:not([action]),#LECT:not([action]),#MENT:not([action]),#MIL:not([action]),#MOR:not([action]),#OPER:not([action]),#POL:not([action]),#REAL:not([action]),#SENS:not([action]),#STYL:not([action]),#VOC:not([action]),
.btn-filter:not([action]){
    opacity: .7;
}
  
/* Rendre plus ou moins transparent selon sélectionné ou pas */
[action="on"], [action="off"]{
    opacity: .7;
}
[action="no"]{
    opacity: 1;
}
