body {
  overflow-y: scroll;
  padding-top: 90px;
}

#main-container {
  padding-bottom: 150px;
}
q[data-type="LOC"], q[data-type="LOC"] > * {
  background-color: #fff683;
}

q[data-type="TIT"], q[data-type="TIT"] > * {
  background-color: #bdbdbd;
}

q[data-type="NVM"], q[data-type="NVM"] > * {
  background-color: #ff8a8a;
}

correction:hover {
   background-color: #fffde3;
}

.lg, .l {
    margin: 0 0 0 1em;
    display: block;
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
  text-align: justify;
}

.belles-lettres .paragraph {
  text-align: justify;
}

.row {
  margin-bottom: 20px;
}

.subparagraph-title {
  font-weight: bold;
  margin: 0px 3px;
}

.subparagraph {
  margin-bottom: 10px;
  text-align: justify;
}

.btn-filter {
    border-radius: 0;
    width: 100%;
    font-weight: bolder;
    white-space: break-spaces;
}

.card-header .btn {
  padding: 2px 4px;
}

.btn-outline-light, .btn-outline-danger, .btn-outline-info,
.btn-outline-success, .btn-outline-warning, .btn-outline-primary {
    background-color: white;
    color: black;
    opacity: 0.6;
}
.btn-view[status="on"] {
    background-color: grey;
    color: white;
}
.btn-filter[action="off"] {
    /* si action="off" alors actuellement on est à "no" */
    background: grey;
    color: white;
}
.btn-filter[action="off"]::before {
    content: "NOT";
    position: absolute;
    z-index: -1;
    right: 3px;
    top: 3px;
    rotate: 25deg;
    padding: 0 3px;
    color: red;
    background-color: lightgray;
    opacity: .9;
    border-radius: 30px;
    font-weight: bolder;
    font-family: 'Roboto',sans-serif;
}
.comment-highlight { /*  when selected by navigation */
    background-color: lightgrey;
}

.comment.highlighted { /* when mouseover call js function highlight() */
    background-color: darkgray;
}

.commented_span {
    background-color: lavender;
    border: 1px solid #8e8ead;
    padding: 0 .2ex;
    border-radius: 5px;
    margin: 0 1px;
}
.commented_span.highlighted {
    background-color: darkgray;
}

/* COMMENTS */
.comment .card-header {
  padding: 4px;
}

.comment .card-body {
  padding: 8px;
  text-align: justify;
}

.comment-title {
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: scroll;
  max-width: 65ch;
  display: block;
}

.comment {
  margin-bottom: 5px;
}

h3.paragraph-id {
  border-bottom: 1px solid black;
}
.facs {
     border: 1px solid grey;
     min-width: 400px;
     min-height: 15px;
}
.source {
    display: block;
    color: gray;
    font-size: small;
}
/*
* Sidebar
*/
#sidebar {
  padding-top: 80px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh - 96px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

#footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
}

#footer .row {
  margin:0;
}
.logos img {
    height: 42px;
}

/*
 * Utilities
 */
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

#col {
  column-count: 2;
}
