<div id="footer" class="p-2 bg-light">
  <div class="row text-center">
    <div class="col-10 logos">
      <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/" class="btn btn-light btn-sm" role="button"
	 title="Litt&Arts (UMR 5316), Arts et pratiques du texte, de l'image, de l'écran et de la scène">
        <img src="img/logo_littarts.png"/>
      </a>
      <a target="_blank" href="http://www.msh-alpes.fr/" class="btn btn-light btn-sm" role="button"
	 title="MSH-Alpes (USR 3394), Maison des Sciences de l'Homme-Alpes">
        <img src="img/logo_mshalpes.png"/>
      </a>
      <a target="_blank" href="https://www.univ-grenoble-alpes.fr/" class="btn btn-light btn-sm" role="button"
	 title="UGA, Université Grenoble Alpes">
        <img src="img/logo-uga-2020.png"/>
      </a>
      <a target="_blank" href="http://www.cnrs.fr" class="btn btn-light btn-sm" role="button"
	 title="CNRS, Centre National de la Recherche Scientifique">
        <img src="img/logo_CNRS_2019_RVB.png"/>
      </a>
      <a target="_blank" href="http://www.msh-reseau.fr/" class="btn btn-light btn-sm" role="button"
	 title="Réseau national des Maisons des Sciences de l'Homme">
        <img src="img/logo_rnMSH.png"/>
      </a>
      <a target="_blank" href="https://www.collexpersee.eu/" class="btn btn-light btn-sm" role="button"
      title="CollEx-Persée, infrastructure de recherche en information scientifique et technique">
        <img src="img/logo_collexpersee.jpg"/>
      </a>
      <span title="Pedro Fron, créateur du logo Tacitus On Line">
      <a target="_blank" href="" class="btn btn-light btn-sm disabled" role="button">
        <img src="img/logo_pedrofron.png"/>
      </a>
      </span>
      <a target="_blank" href="https://bibliotheques.univ-grenoble-alpes.fr/" class="btn btn-light btn-sm" role="button"
	 title="Bibliothèques Universitaires Grenoble Alpes">
        <img src="img/logo_BU_Grenoble.jpg"/>
      </a>
      <a target="_blank" href="https://www.bm-lyon.fr/" class="btn btn-light btn-sm" role="button"
	 title="Bibliothèque municiaple de Lyon">
	<img src="img/logo_bibliotheque_municipale_lyon_beau_fixe.png"/>
      </a>
      <a target="_blank" href="http://www.elan-numerique.fr/" class="btn btn-light btn-sm" role="button"
	 title="ELAN, équipe Littératures et Arts Numériques au sein de l'UMR Litt&Arts">
        <img src="img/logo_elan.png"/>
      </a>
      <a target="_blank" href="https://www.lesbelleslettres.com/" class="btn btn-light btn-sm" role="button"
	 title="Maison d'édition Les Belles Lettres">
        <img src="img/logo_Editions_Belles_Lettres.png"/>
      </a>
    </div>
    <div class="col text-left links">
      <a href="index.php?page=legal_notices" class="btn btn-light btn-sm" role="button">Mentions légales</a><br/>
      <a target="_blank" href="https://gitlab.com/litt-arts-num/tacitus-on-line/" class="btn btn-light btn-sm" role="button">Code source</a>
    </div>
  </div>
</div>
