{% extends "base.html.twig" %}

{% block title %}Tacitus on line - A propos{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="main-container" class="col ml-sm-auto col-lg-10 px-4">

      <div id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column ">
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="#project">
                  <i class="fa fa-home" aria-hidden="true"></i>
                  Le projet
                </a>
              </h5>
            </li>
            <li class="nav-item">
              <h5>
              <a class="nav-link" href="#biblio">
                <i class="fa fa-book" aria-hidden="true"></i>
                Bibliographie
              </a>
            </h5>
            </li>
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="#website">
                  <i class="fa fa-binoculars" aria-hidden="true"></i>
                  Le site
                </a>
              </h5>
            </li>
            <li class="nav-item">
              <h5>
              <a class="nav-link" href="#team">
                <i class="fa fa-users" aria-hidden="true"></i>
                Équipe et soutiens
              </a>
            </h5>
            </li>
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="#methodo">
                  <i class="fa fa-magic" aria-hidden="true"></i>
                  Historique des révisions
                </a>
              </h5>
            </li>
          </ul>
        </div>
      </div>

      <div id="project" class="row anchor">
        <div class="col">
          <h3>Le projet</h3>
          {% include "html/editorial_about_project.html" %}
        </div>
      </div>
      
      <div id="website" class="row anchor">
        <div class="col">
          <h3>Le site</h3>
          {% include "html/editorial_about_website.html" %}
        </div>
      </div>
      
      <div id="team" class="row anchor">
        <div class="col">
          {% include "html/editorial_about_team.html" %}
          {% include "html/editorial_about_funder.html" %}
        </div>
      </div>

      <div id="methodo" class="row anchor">
        <div class="col">
          <h3>Historique des révisions</h3>
          {% include "html/editorial_about_history.html" %}
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
