<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Tacitus On Line{% endblock %}</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/build/production.min.css?version=20220922">
  </head>
  <body onload="navigate.init()">
    <nav id="top-nav" class="navbar navbar-expand navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.php">
            <img class="rounded" src="img/tacitus_logo.min.png" />
          </a>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.php">
              <i class="fa fa-home" aria-hidden="true"></i> Accueil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.php?page=about">
              <i class="fa fa-question" aria-hidden="true"></i> À propos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.php?page=edition">
              <i class="fa fa-book" aria-hidden="true"></i> L'édition
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.php?page=livre1">
              <i class="fa fa-book" aria-hidden="true"></i> Livre 1
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.php?page=livre2">
              <i class="fa fa-book" aria-hidden="true"></i> Livre 2
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.php?page=livre3">
              <i class="fa fa-book" aria-hidden="true"></i> Livre 3
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.php?page=manual">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> Manuel d'encodage
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cogs" aria-hidden="true"></i> Le Lab'
            </a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="index.php?page=dataviz">
                <i class="fa fa-sticky-note-o" aria-hidden="true"></i> des commentaires
              </a>
              <a class="dropdown-item" href="index.php?page=dataviz_cit">
                <i class="fa fa-quote-left" aria-hidden="true"></i> des citations
              </a>
	      <a class="dropdown-item" href="index.php?page=dataviz_people">
                <i class="fa fa-users" aria-hidden="true"></i> des commentateurs
              </a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <button class="btn btn-secondary navbar-btn p-1">
            <a href="data/tei/">
              <img class="rounded" src="img/logo_TEI.svg" height="35px"/>
            </a>
          </button>
        </ul>
      </div>
    </nav>
    <div id="main-container">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}
       {% include('base-includes/footer.html.twig') %}
    {% endblock %}
    <script src="js/build/production.min.js"></script>
  </body>
</html>
