{% extends "base.html.twig" %}

{% block title %}Tacitus on line - Le lab' des commentaires{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="main-container" class="col ml-sm-auto col-lg-10 px-4">

      <div id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column ">
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="?page=dataviz#co-occurrences">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                  Co-occurrence des types de commentaires
                </a>
              </h5>
            </li>
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="?page=dataviz#tableaux">
                  <i class="fa fa-th" aria-hidden="true"></i>
                  Tableaux des correspondances
                </a>
              </h5>
            </li>
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="?page=dataviz#frises">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  Frises des commentaires
                </a>
              </h5>
            </li>
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="?page=dataviz#idea">
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                  D'autres idées ?
                </a>
              </h5>
            </li>
          </ul>
        </div>
      </div>

      <div id="co-occurrences" class="row anchor">
        <div class="col">
          <h3>Liste de co-occurrences des types de commentaires</h3>
          {% include "html/co-occurrences.html" %}
        </div>
      </div>
      <div id="tableaux" class="row anchor">
        <div class="col">
          <h3>Tableaux de fréquence des types de commentaires</h3>
          {% include "html/tableau.html" %}
        </div>
      </div>
      <div id="frises" class="row anchor">
        <div class="col">
        <h3>Frises synoptiques des commentaires</h3>
          {% include "html/frise.html" %}
        </div>
      </div>
      <div id="idea" class="row anchor">
        <div class="col">
        <h3>Idées ?</h3>
        <i>Si vous avez d'autres besoins ou idées de visualisations, n'hésitez pas à me contacter. AnneGF</i>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
