{% extends "base.html.twig" %}

{% block title %}Tacitus on line - Le lab' des citations{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="main-container" class="col ml-sm-auto col-lg-10 px-4">

      <div id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column ">
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="?page=dataviz_cit#quoteByAuthors">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  Liste des citations par auteur
                </a>
              </h5>
            </li>
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="?page=dataviz_cit#quotedAuthor">
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                  Les auteurs cités
                </a>
              </h5>
            </li>
            <li class="nav-item">
              <h5>
                <a class="nav-link" href="?page=dataviz_cit#idea">
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                  D'autres idées ?
                </a>
              </h5>
            </li>
          </ul>
        </div>
      </div>
      <div id="quoteByAuthors" class="row anchor">
        <div class="col">
          <h3>Liste des citations par auteur</h3>
          {% include "html/quoteByAuthor.html" %}
        </div>
      </div>
      <div id="quotedAuthor" class="row anchor">
        <div class="col">
          <h3>Liste des auteurs cités</h3>
          {% include "html/quoteAuthors.html" %}
        </div>
      </div>
      <div id="idea" class="row anchor">
        <div class="col">
        <h3>Idées ?</h3>
        <i>Si vous avez d'autres besoins ou idées de visualisations, n'hésitez pas à me contacter. AnneGF</i>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
