<nav id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <!-- nav-box -->
    <div id="nav-box" style="display: block; width: 99%; height: 7em; margin: auto; overflow-y: hidden; text-align: center;">
      <div class="alert alert-dark" style="display:none;">
	<div id="nav-title" style="overflow: auto; scrollbar-width: none; white-space: nowrap;">Commentaire</div>
	<div id="nav-counter" style="font-size: small; overflow: hidden; white-space: nowrap;">
	  <span id="nav-position" style="display:inline-block; text-align: right; min-width: 3ex;">1</span> sur <span id="nav-length">X</span>
 	  <i id="nav-expan" status="off" class="fa fa-toggle-off" onclick="navigate.expanAll()" title="Ouvrir tous les commentaires"></i>
	  <i id="nav-collapse" status="on" class="fa fa-toggle-on d-none" onclick="navigate.collapseAll()" title="Fermer tous les commentaires"></i>
	</div>
	<div style="margin:auto;">
	  <span id="nav-previous" onclick="navigate.previous()" class="btn btn-dark">&lt;</span>
	  <span id="nav-next" onclick="navigate.next()" class="btn btn-dark">&gt;</span>
	</div>
      </div>
    </div>
    <!-- end nav-box -->
    
    <ul class="nav flex-column" style="display: block; width: 99%;">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">Afficher les paragraphes...<i class="fa fa-info-circle" title="Utiliser la même syntaxe que pour imprimer un ensemble définis de pages. Par exemple, '8-10,12,14-16' affichera les paragraphes 8 à 10, 12 et 14 à 16."></i></h6>
      <div class="row">
        <input id="filterParagraphs" class="ml-4 col-8 pl-0"></input>
        <button id="doFilterParagraphs"  onclick="filter.showTargetOnly();" type="button" class="btn-view btn btn-outline-secondary m-0 ml-1 p-0 px-1" style="border-radius: 25px">&nbsp;<small>OK</small>&nbsp;</button>
      </div>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-4 text-muted">Vue
<div style="btn-group-vertical row">
	     <button id="viewAllParagraph" type="button" class="btn-view btn btn-outline-secondary p-1" status="on" data-theme="secondary"><small>Complète</small></button>
	     <button id="viewCommentedParagraph" type="button" class="btn-view btn btn-outline-secondary p-1" status="off" data-theme="secondary"><small>Réduite</small></button>
      </div>
      </h6>
      
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-4 text-muted">Opérateur
	<div id="operator" onclick="navigate.init()" class="btn-group btn-group-toggle row m-auto" data-toggle="buttons">
          <label class="btn btn-sm btn-secondary active ml-2">
            <input type="radio" value="and" name="operator"/><small>ET</small>
          </label>
          <label class="btn btn-sm btn-secondary mr-2">
            <input type="radio" value="or" name="operator"/> <small>OU</small>
          </label>
	</div>
      </h6>
      

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">Commentateurs</h6>
      <div class="btn-group-vertical col-12">
	       {% include "html/filtersCommentators.html" %}
      </div>
      
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">Types de citation</h6>
      <div class="btn-group-vertical col-12">
	       {% include "html/filtersQuotes.html" %}
      </div>
      
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">
	<span>Types de commentaire</span>
      </h6>
      <div class="btn-group-vertical col-12">
	{% include "html/filtersCommentaries.html" %}
      </div>
      
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">
	<span>Réinitialiser les filtres</span>
	<button id="disable-btns" type="button" class="btn btn-sm btn-secondary">
          <i class="fa fa-eraser" aria-hidden="true"></i>
	</button>
      </h6>
      
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">
	<span>Partager les filtres</span>
	<button id="share-filters" onclick="filter.save()" data-clipboard-target="" type="button" class="btn btn-sm btn-secondary">
          <i class="fa fa-share" aria-hidden="true"></i>
	</button>
      </h6>
      
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted">
	<span>Aide</span>
	<button id="#help" type="button" data-toggle="modal" data-target="#help-modale" class="btn btn-sm btn-secondary">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
	</button>
      </h6>
      
    </ul>
  </div>
</nav>

{% include "help.html.twig" %}
