{% extends "base.html.twig" %}

{% block title %}Tacitus on line - Index{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
	<div id="main-container" class="col">
	  {% include "html/editorial_home.html" %}
 	  <div class="clearfix">
		<div class="p-2 float-left">
		  Accéder aux commentaires&nbsp;
		  <a class="btn btn-outline-dark p-2" href="index.php?page=livre1"><i class="fa fa-book">&nbsp;</i>Livre 1</a>
		  <a class="btn btn-outline-dark p-2" href="index.php?page=livre2"><i class="fa fa-book">&nbsp;</i>Livre 2</a>
		  <a class="btn btn-outline-dark p-2" href="index.php?page=livre3"><i class="fa fa-book">&nbsp;</i>Livre 3</a>
		</div>
		<div class="p-2 float-right">Accéder au laboratoire numérique&nbsp;
		  <a class="btn btn-outline-secondary p-2" href="index.php?page=dataviz"><i class="fa fa-cogs">&nbsp;</i>des commentaires</a>
		  <a class="btn btn-outline-secondary p-2" href="index.php?page=dataviz_cit"><i class="fa fa-cogs">&nbsp;</i>des citations</a>
		  <a class="btn btn-outline-secondary p-2" href="index.php?page=dataviz_people"><i class="fa fa-cogs">&nbsp;</i>des commentateurs</a>
		</div>
	  </div>
 	</div>
  </div>
</div>
{% endblock %}
