{% extends "base.html.twig" %}

{% block title %}Tacitus on line - Mentions légales{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="main-container" class="col ml-sm-auto col-lg-10 px-4">

      <div id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column ">
          </ul>
        </div>
      </div>


      <div id="team" class="row anchor">
        <div class="col">
	        <h2>Mentions légales</h2>

                <h3>Directeur de la publication :</h3>
                <div class="ml-3 mb-3">
                  Yassine Lakhnech, président de l’Université Grenoble Alpes
                  <br/>
                  UGA<br/>
                  CS 40700<br/>
                  38058 Grenoble cedex 9<br/>
                  <a href="mailto:presidence-universite@univ-grenoble-alpes.fr">presidence-universite@univ-grenoble-alpes.fr</a>
                </div>
                <h3>Responsabilité éditoriale :</h3>
                <div class="ml-3 mb-3">
                  Isabelle Cogitore, porteuse du projet <i>Tacitus On Line</i><br/>
                  <a href="mailto:isabelle.cogitore@univ-grenoble-alpes.fr">isabelle.cogitore@univ-grenoble-alpes.fr</a>
                </div>
                
                <h3>Hébergement</h3>
		<div class="ml-3 mb-3">
                  TGIR Huma-Num - UMS 3598<br/>
                  54 Boulevard Raspail<br/>
                  75006 Paris<br/>
                  <a target="_blank" href="http://www.huma-num.fr">http://www.huma-num.fr</a><br/>
                  cogrid@huma-num.fr<br/>
                </div>
		
		<h3>Conception et maintenance du site</h3>
		<div class="ml-3 mb-3">
		  ELAN - UMR 5316 Litt&Arts<br/>
		  Université Grenoble Alpes / CNRS<br/>
		  CS 40700 - 38058 Grenoble cedex 9<br/>
		  <a target="_blank" href="http://www.elan-numerique.fr/">http://www.elan-numerique.fr/</a><br/>
		  litt-et-arts-elan@univ-grenoble-alpes.fr<br/>
		</div>
		
		<h3>Limitation de responsabilité</h3>
		<div class="mb-3">
		  Malgré les soins apportés à la réalisation du site et sa mise à jour régulière, la responsabilité des éditeurs ne peut être engagée suite à d’éventuelles erreurs ou omissions dans le contenu publié.
		</div>
		
		<h3>Données personnelles</h3>
		<div class="mb-3">
		  Conformément à la Loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés modifiée notamment par la loi n°2018-493 du 20 juin 2018 relative à la protection des données personnelles ainsi qu'au règlement général sur la protection des données (RGPD), vous disposez d'un droit d'information, d'accès, de rectification et de suppression des données nominatives vous concernant.<br/>
		  Vous pouvez l'exercer par mail en écrivant à ELAN&nbsp;:
		  <blockquote class="ml-3 mb-0">
		    <a href="mailto:litt-et-arts-elan@univ-grenoble-alpes.fr">litt-et-arts-elan@univ-grenoble-alpes.fr</a>
		  </blockquote>
		  ou au délégué à la protection des données (DPO) de l'UGA&nbsp;: relaisdpo@univ-grenoble-alpes.fr ou encore le DPD du CNRS à l'adresse suivante&nbsp;:
		  <blockquote class="ml-3 mb-0">
		    DPD (déléguée à la protection des données), 17, rue notre Dame des Pauvres,<br/>
		    54 519 VANDOEUVRE LÈS NANCY Cedex.
		  </blockquote>
		</div>
		
		<div class="mb-2 ml-3">
		  <h4>Qui est concerné ?</h4>
		  Les personnes disposant d'un compte utilisateur sont concernées par le traitement de données personnelles.
		</div>
		
		<div class="mb-2 ml-3">
		  <h4>Quelles données traitons-nous ?</h4>
		  Les données personnelles que nous traitons sont celles complétées par l'utilisateur lors de son inscription&nbsp;: courriel et nom d'utilisateur.<br/>
		  De plus, conformément à l'Art. 6-II de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique ; décret n°2011-219 du 25 février 2011 relatif à la conservation et à la communication des données des journaux, nous conservons les
		  journaux de connexion pendant une durée minimale d'un an.<br/>
		</div>
		
		<div class="mb-2 ml-3">
		  <h4>Pendant combien de temps les conservons-nous ?</h4>
		  Vos données personnelles sont conservées pendant trois ans après la dernière activité du compte sur le site.<br/>
		</div>
		
		<div class="mb-2 ml-3">
		  <h4>Quels sont vos droits ?</h4>
		  Vous pouvez à tout moment, en nous contactant exercer les droits d'opposition, d'accès, de rectification, d'effacement, ainsi que le droit à une utilisation restreinte lorsque les données ne sont pas nécessaires ou ne sont plus utiles et le droit à
		  la portabilité.<br/>
		</div>
		
		<h3>Licence</h3>
		<div class="mb-3">
		  <div class="mb-3 float-right">
		    <img style="max-width:100px" src="img/CC_BY-NC-SA.png">
		  </div>
		  Ce site et l'ensemble des textes qui y sont publiés sont proposés selon les termes de la <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">Licence Creative Commons Attribution - Pas d'utilisation commerciale - Partage dans les mêmes conditions 4.0 International.</a><br/>
		</div>
		
		<h2>Crédits</h2>
		<div class="mb-3">
		  <h3>Origine des documents et des images</h3>
		  Le texte latin des Annales de Tacite est celui que nous a aimablement fourni la maison d'édition des Belles Lettres, Collection Universités de France.
		  <br/>
		  Les commentaires sont transcrits d'après l'édition de Pierre Chevalier, <i>Taciti et C. Velleii Paterculi scripta quae exstant; recognita, emaculata. Additique commentarii copiosissimi et notae non antea editaeParis e typographia Petri Chevalier, in monte diui Hilarii</i>, Paris, 1608 conservée à la bibliothèque municipale de Lyon sous la cote BmL 23955.
		  <br/>
		  Les images de l'édition de 1608 sont celles que nous a aimablement fournies la Bibliothèque Municipale de Lyon.
		  <br/>
		</div>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>
{% endblock %}
