{% extends "base.html.twig" %}

{% block title %}Tacitus on line - Liber 2{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="main-container" class="col ml-sm-auto col-lg-10 px-4">
    {% include "filters.html.twig" %}
    {% include "html/liber2.html" %}
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<script src="js/evenmorefilter.js"></script>
{% endblock %}
