<h3>Encoder - Marche à suivre</h3>
<div>
  <ol>
    <li>Télécharger Oxygen (<a href="https://www.oxygenxml.com/xml_editor/download_oxygenxml_editor.html">lien</a>) et lancer l’installation</li>
    <li>Licence Oxygen (nécessaire pour utiliser le logiciel)
      <ul>
        <li>Demander à l'équipe ELAN <a href="litt-et-arts-elan@univ-grenoble-alpes.fr">litt-et-arts-elan@univ-grenoble-alpes.fr</a> en mettant Isabelle Cogitore en copie et préciser qu’il s’agit d’un travail pour Tacitus On Line</li>
      </ul>
    </li>
    <li>Récupérer les fichiers de travail et le PDF de la source sur le dossier partagé (accès à demander à l'équipe ELAN et/ou Isabelle Cogitore)
      <ul>
        <li style="list-style-type: none"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Attention avant de vous lancer&nbsp;:
          <ul>
            <li>l'oganisation en dossier/sous-dossier doit être conservée</li>
            <li>ne modifiez que le fichier dont vous avez la charge (voir ci-après)</li>
          </ul></li>
        <li>En tant que transcripteur ou transcriptrice, un fichier de travail est préparé pour vous&nbsp;:
          <code>Tacite_livre<span class="numLivre">[num]</span>_<span class="encodeur">[NomEncodeur]</span>.xml</code></li>
        <li>Exemple : si le transcripteur <span class="encodeur">Jean Dupont</span> est chargé de transcrire
          les commentaires du <span class="numLivre">livre 3</span>, le fichier dont il devra s’occuper se trouvera dans le dossier 
          <code>tei/Encodage/Livre&nbsp;<span class="numLivre">III</span></code> sous le nom&nbsp;: 
          <code>Tacite_livre<span class="numLivre">III</span>_<span class="encodeur">JeanDupont</span>.xml</code> et sera </li>
      </ul>
    </li>
    <li>Ouvrir le fichier avec Oxygen et effectuer vos modifications</li>
    <li><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Après chaque séance de travail, re-déposer votre fichier de travail sur le dossier partagé dans le dossier approprié&nbsp;: 
      <code>tei/Encodage/Livre&nbsp;<span class="numLivre">[num]</span></code>.</li>
  </ol>
</div>
