<h3>Encoder pour Tacitus On Line</h3>
<div>
  <p>À partir du PDF de l’édition de référence (Paris, Pierre Chevallier, 1608)&nbsp;:</p>
  <ul>
    <li>Transcrire et encoder les commentaires dans un fichier XML-TEI</li>
    <li>Dans les commentaires, effectuer les annotations pour repérer :
      <ul>
        <li>Les citations</li>
        <li>Les passages en grec</li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>Signaler&nbsp;:
      <ul>
        <li>les problèmes de ponctuation : encadrer par <code>&lt;sic&gt;</code>
          <code>&lt;/sic&gt;</code></li>
        <li>les erreurs présentes dans l’édition imprimée (par exemple un même
           numéro pour deux commentaires) : encadrer l’erreur par
           <code>&lt;sic&gt;</code><code>&lt;/sic&gt;</code></li>
      </ul>
    </li>
    <li>Il est possible que vous rencontriez des balises <code>&lt;span&gt;</code>
      et/ou des attributs <code>ana</code>. C’est Isabelle Cogitore qui effectue
      ces annotations, ne vous en préoccupez pas.</li>
  </ul>
</div>
