<h3>Organisation du fichier</h3>
<div>
    <img class="float-right" src="img/manual/file.PNG" class="img-fluid" alt="Organisation du fichier XML-TEI" width="50%"/>
    <p>Au sein du fichier, vous devez intervenir à l'interieur de la balise <code>&lt;body&gt;</code>.
        En principe, une <code>&lt;div&gt;</code> prévue pour recevoir votre travail est présente.</p>
    <p class="ml-4">
        <code style="background-color: transparent;">
            &lt;body&gt;<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;div resp="#<span class="encodeur">[NomEncodeur]</span>"&gt;<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- Transcriptions à insérer ici --&gt;<br/>
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br/>
            &lt;/body&gt;
        </code>
    </p>
</div> 
