<h3>Encoder - Dernières étapes</h3>
<div>
  <ul>
    <li>Sauvegarder (régulièrement)</li>
    <li>Vérifier que le fichier est correctement nommé : <span class="important">Tacite_livreIII_JeanDupont.xml</span></li>
    <li>Mettre à disposition le fichier sur le dossier partagé</li>
    <li>Prévenir Isabelle Cogitore <a href="mailto:isabelle.cogitore@univ-grenoble-alpes.fr">par mail</a> pour
      <ul>
        <li>1/ relecture,</li>
        <li>2/ ajout de votre contribution au sein des entêtes TEI.</li>
      </ul> Elle pourrait ainsi aussi débuter l'analyse des commentaires transcrit !</li>
  </ul>
</div>
<div width="80%" class="col offset-2 small">
  <i>Étape 2/ - Rappel :</i><ul>
    <li> Aller dans le header, au niveau de la balise
        <code>&lt;titleStmt&gt;</code></li>
    <li>À la suite de la liste de balises <code>&lt;respStmt&gt;</code>, ajoutez la vôtre
      comme ceci : (en fonction de ce que vous avez fait)</li>
      <img src="img/manual/resp.PNG" class="img-fluid" width="80%"/>
    </ul>
    </li>
  </ul>
</div>
