<h3>Oxygen</h3>
<div>
  <p>Pour l’encodage on utilise le logiciel Oxygen, éditeur XML, qui permet de
  créer et de modifier des fichiers XML.</p>
  <p>Ouvrir un fichier : <em>Ouvrir Oxygen > Fichier > Ouvrir > *choisir le fichier*</em></p>
</div>
<div style="text-align: center;">
  <img src="img/manual/interface_oxygen.PNG" class="img-fluid" alt="Interface Oxygen" width="90%"/>
</div>
