<h4>Liste des commentateurs</h4><ul class="list-unstyled card-columns list-person">
   <li><code>#ACID</code>&nbsp;Acidalius Valens<span class="text-muted"> [25 mai 1567 - 25 mai 1595]</span></li>
   <li><code>#ALC</code>&nbsp;Alciat<span class="text-muted"> [8 mai 1492 - 12 janvier 1550]</span></li>
   <li><code>#AGU</code>&nbsp;Antonius Augustinus<span class="text-muted"> [26 février 1517 - 31 mai 1586]</span></li>
   <li><code>#BUSB</code>&nbsp;Augerius Busbequius (Busbequius)<span class="text-muted"> [1522 - 1591]</span></li>
   <li><code>#BEAT</code>&nbsp;Beatus Rhenanus (Rhenanus)<span class="text-muted"> [22 août 1485 - 20 juillet 1547]</span></li>
   <li><code>#BER</code>&nbsp;Beroaldus (Filippo Beroaldo)<span class="text-muted"> [11 juillet 1453 - 17 juillet 1505]</span></li>
   <li><code>#CLUS</code>&nbsp;Carolus Clusius<span class="text-muted"> [12 mars 1526 - 4 avril 1609]</span></li>
   <li><code>#COL</code>&nbsp;Christophorus Colerus<span class="text-muted"> [1602 - 1658]</span></li>
   <li><code>#CUJAC</code>&nbsp;Cujacius (Cujas)<span class="text-muted"> [1522 - 4 octobre 1590]</span></li>
   <li><code>#DECK</code>&nbsp;Deckerius<span class="text-muted"> [1560 - 1619]</span></li>
   <li><code>#FAER</code>&nbsp;Faernus Cremonensis<span class="text-muted"> [vers 1510 - 1561]</span></li>
   <li><code>#FERR</code>&nbsp;Ferretti<span class="text-muted"> [14 novembre 1489 - 15 juillet 1552]</span></li>
   <li><code>#GRUT</code>&nbsp;Gruter<span class="text-muted"> [3 décembre 1560 - 20 septembre 1627]</span></li>
   <li><code>#IUN</code>&nbsp;Hadrianus Junius (Franciscus Junius)<span class="text-muted"> [1511 25 janvier 1591 - 1576 1677]</span></li>
   <li><code>#GRO</code>&nbsp;Hieronymus Groslotius</li>
   <li><code>#CAMP</code>&nbsp;Iacobus Campius</li>
   <li><code>#MERC</code>&nbsp;Iosias Mercerius<span class="text-muted"> [1560 - 1626]</span></li>
   <li><code>#DOUS</code>&nbsp;Janus Douza<span class="text-muted"> [6 décembre 1545 - 8 octobre 1604]</span></li>
   <li><code>#LIPS</code>&nbsp;Juste Lipse<span class="text-muted"> [18 octobre 1547 - 23 mars 1606]</span></li>
   <li><code>#LVP</code>&nbsp;Lupanus</li>
   <li><code>#MARC_DON</code>&nbsp;Marcellus Donatus<span class="text-muted"> [1538 - 8 juin 1602]</span></li>
   <li><code>#MOD</code>&nbsp;Modius<span class="text-muted"> [1536 - 23 juin 1597]</span></li>
   <li><code>#MUR</code>&nbsp;Muretus<span class="text-muted"> [12 avril 1526 - 4 juin 1585]</span></li>
   <li><code>#NIC.FAB</code>&nbsp;Nicolas Faber<span class="text-muted"> [1544 - 1612]</span></li>
   <li><code>#ONUF</code>&nbsp;Onofrius<span class="text-muted"> [23 février 1530 - 7 avril 1568]</span></li>
   <li><code>#DAN</code>&nbsp;Petrus Danesius<span class="text-muted"> [1497 - 1577]</span></li>
   <li><code>#PETR.FAB</code>&nbsp;Petrus Faber</li>
   <li><code>#PIC</code>&nbsp;Pichenas<span class="text-muted"> [1553 - 1626]</span></li>
   <li><code>#PIGH</code>&nbsp;Pighius</li>
   <li><code>#PINC</code>&nbsp;Pincianus<span class="text-muted"> [1475 - 1553]</span></li>
   <li><code>#TORR</code>&nbsp;Torrentius<span class="text-muted"> [1525 - 1595]</span></li>
   <li><code>#TURN</code>&nbsp;Turnebus<span class="text-muted"> [1512 - 12 juin 1565]</span></li>
   <li><code>#VRS</code>&nbsp;Ursinus<span class="text-muted"> [11 décembre 1529 - 18 mai 1600]</span></li>
   <li><code>#VERT</code>&nbsp;Vertranius (Vetranius)</li>
</ul><h4>Liste des auteurs</h4><ul class="list-unstyled card-columns list-person">
   <li><code>#AMBR</code>&nbsp; Ambrosius<span class="text-muted"> [vers 340 à Trèves - 4 avril 397]</span></li>
   <li><code>#APOLLOD</code>&nbsp; Apollodorus</li>
   <li><code>#ARN</code>&nbsp; Arnobius</li>
   <li><code>#ALBIN</code>&nbsp;Albinovanus Pedo</li>
   <li><code>#AMM.MARC</code>&nbsp;Ammianus Marcellinus<span class="text-muted"> [vers 330 à Antioche sur l'Oronte - vers 395 (au plus tard en 400) probablement à Rome]</span></li>
   <li><code>#APP</code>&nbsp;Appianus</li>
   <li><code>#APVL</code>&nbsp;Apuleius</li>
   <li><code>#AR</code>&nbsp;Aristophanes</li>
   <li><code>#ARR</code>&nbsp;Arrianus<span class="text-muted"> [vers 86 -  vers 160]</span></li>
   <li><code>#ATH</code>&nbsp;Atheneus</li>
   <li><code>#AVR.VICT</code>&nbsp;Aurelius Victor</li>
   <li><code>#BIAN</code>&nbsp;Bianor</li>
   <li><code>#CAES</code>&nbsp;Caesar<span class="text-muted"> [ vers 100 a.C. -  15 mars 44 a.C.]</span></li>
   <li><code>#CALP.FLAC</code>&nbsp;Calpurnius Flaccus</li>
   <li><code>#CENSOR</code>&nbsp;Censorinus</li>
   <li><code>#CIC</code>&nbsp;Cicero<span class="text-muted"> [ vers 106 a.C. - 43 a.C.]</span></li>
   <li><code>#CLAVD</code>&nbsp;Claudianus</li>
   <li><code>#CLEM.AL</code>&nbsp;Clemens Alexandrinus</li>
   <li><code>#CVRT</code>&nbsp;Curtius</li>
   <li><code>#DEM</code>&nbsp;Demosthenes<span class="text-muted"> [384 a.C. - 322 a.C.]</span></li>
   <li><code>#D.C</code>&nbsp;Dio Cassius (Dio)<span class="text-muted"> [vers 155 p.C. - 229 p.C.]</span></li>
   <li><code>#DIOG.L</code>&nbsp;Diogenes Laertius</li>
   <li><code>#D.H</code>&nbsp;Dionysius</li>
   <li><code>#ENN</code>&nbsp;Ennius<span class="text-muted"> [239 a.C. - 169 a.C.]</span></li>
   <li><code>#EPICT</code>&nbsp;Epictetus<span class="text-muted"> [vers 50 p.C. - vers 130 p.C.]</span></li>
   <li><code>#LIV.PER</code>&nbsp;Epitome</li>
   <li><code>#EVR</code>&nbsp;Euripides<span class="text-muted"> [480 a.C. - 406 a.C.]</span></li>
   <li><code>#EVSEB</code>&nbsp;Eusebius<span class="text-muted"> [264 p.C. - 340 p.C.]</span></li>
   <li><code>#EVTR</code>&nbsp;Eutropius</li>
   <li><code>#FEST</code>&nbsp;Festus</li>
   <li><code>#IOS</code>&nbsp;Flauius Iosephus<span class="text-muted"> [37 p.C. - ]</span></li>
   <li><code>#FLOR</code>&nbsp;Florus</li>
   <li><code>#FRONTIN</code>&nbsp;Frontinus</li>
   <li><code>#GAI</code>&nbsp;Gaius<span class="text-muted"> [vers 120 - vers 180]</span></li>
   <li><code>#GELL</code>&nbsp;Gellius</li>
   <li><code>#HEGES</code>&nbsp;Hegesippus</li>
   <li><code>#HEROD</code>&nbsp;Herodianus</li>
   <li><code>#HIER</code>&nbsp;Hieronymus<span class="text-muted"> [331 p.C. -  420 p.C.]</span></li>
   <li><code>#HIRT</code>&nbsp;Hirtius</li>
   <li><code>#HOM</code>&nbsp;Homerus</li>
   <li><code>#HOR</code>&nbsp;Horatius<span class="text-muted"> [ - 8 a.C.]</span></li>
   <li><code>#HYG.GROM</code>&nbsp;Hyginus</li>
   <li><code>#IORD</code>&nbsp;Iornandes, Iordanes</li>
   <li><code>#IREN</code>&nbsp;Irenaeus</li>
   <li><code>#ISID</code>&nbsp;Isidorus</li>
   <li><code>#IVV</code>&nbsp;Iuenalis<span class="text-muted"> [42 p.C. - ]</span></li>
   <li><code>#IVLIAN</code>&nbsp;Iulianus</li>
   <li><code>#IVL.AP</code>&nbsp;Iulianus Apostata<span class="text-muted"> [331 - 363]</span></li>
   <li><code>#CAPIT</code>&nbsp;Iulius Capitolinus</li>
   <li><code>#OBSEQ</code>&nbsp;Iulius Obsequens</li>
   <li><code>#IVSTIN</code>&nbsp;Iustinianus</li>
   <li><code>#IVST</code>&nbsp;Iustinus</li>
   <li><code>#LAMP</code>&nbsp;Lampridius</li>
   <li><code>#LIV</code>&nbsp;Liuius<span class="text-muted"> [59 p.C. -  vers 17 p.C.]</span></li>
   <li><code>#LVC</code>&nbsp;Lucanus<span class="text-muted"> [38 p.C. - ]</span></li>
   <li><code>#LVCIL</code>&nbsp;Lucilius</li>
   <li><code>#LVCR</code>&nbsp;Lucretius<span class="text-muted"> [ - 55 a.C.]</span></li>
   <li><code>#CAT.MAI</code>&nbsp;Marcus Porcius Cato (ou Cato Maior)<span class="text-muted"> [vers 234 a.C. - 149 a.C.]</span></li>
   <li><code>#MART</code>&nbsp;Martialis</li>
   <li><code>#MAX.TAVR</code>&nbsp;Maximus Taurinensis</li>
   <li><code>#MINVC</code>&nbsp;Minucius Felix</li>
   <li><code>#NAZAR</code>&nbsp;Nazarius</li>
   <li><code>#OROS</code>&nbsp;Orosius</li>
   <li><code>#OV</code>&nbsp;Ouidius<span class="text-muted"> [43 a.C. - 17 ou 18 p.C.]</span></li>
   <li><code>#PAVL</code>&nbsp;Paulus</li>
   <li><code>#PAVS</code>&nbsp;Pausanias</li>
   <li><code>#PETRARC</code>&nbsp;Petrarca<span class="text-muted"> [20 juillet 1304 - 19 juillet 1374]</span></li>
   <li><code>#PLATO</code>&nbsp;Plato<span class="text-muted"> [430 a.C. - 348 a.C.]</span></li>
   <li><code>#PL</code>&nbsp;Plautus</li>
   <li><code>#PLIN</code>&nbsp;Plinius<span class="text-muted"> [23 p.C. - 70 p.C.]</span></li>
   <li><code>#PLIN.MIN</code>&nbsp;Plinius<span class="text-muted"> [63 p.C. - 113 p.C.]</span></li>
   <li><code>#PLV</code>&nbsp;Plutarchus<span class="text-muted"> [50 p.C. - ]</span></li>
   <li><code>#POLL</code>&nbsp;Pollux</li>
   <li><code>#POLY</code>&nbsp;Polybius<span class="text-muted"> [205 a.C. - 123 a.C.]</span></li>
   <li><code>#PROP</code>&nbsp;Propertius<span class="text-muted"> [vers 47 a.C. - vers 16 a.C.]</span></li>
   <li><code>#QVINT</code>&nbsp;Quintilianus, Quinctilianus<span class="text-muted"> [vers 35 p.C. - vers 96 p.C.]</span></li>
   <li><code>#SALL</code>&nbsp;Sallustius<span class="text-muted"> [86 a.C. - 35 a.C.]</span></li>
   <li><code>#SEN</code>&nbsp;Seneca<span class="text-muted"> [vers 4 a.C. - vers 65 p.C.]</span></li>
   <li><code>#SEN.PAT</code>&nbsp;Seneca pater<span class="text-muted"> [vers 54 a.C. - vers 39 p.C.]</span></li>
   <li><code>#SERG</code>&nbsp;Sergius</li>
   <li><code>#SERV</code>&nbsp;Servius</li>
   <li><code>#SIC.FLACC</code>&nbsp;Siculus Flaccus</li>
   <li><code>#SID</code>&nbsp;Sidonius<span class="text-muted"> [430 p.C. - 486 p.C.]</span></li>
   <li><code>#SIL</code>&nbsp;Silius Italicus<span class="text-muted"> [26 p.C. - 101 p.C.]</span></li>
   <li><code>#SOL</code>&nbsp;Solinus</li>
   <li><code>#SOZ</code>&nbsp;Sozomenus</li>
   <li><code>#SPART</code>&nbsp;Spartianus</li>
   <li><code>#STAT</code>&nbsp;Statius<span class="text-muted"> [vers 40 p.C. - 96 p.C.]</span></li>
   <li><code>#STRAB</code>&nbsp;Strabo<span class="text-muted"> [vers 60 a.C. - vers 20 p.C.]</span></li>
   <li><code>#SVET</code>&nbsp;Suetonius</li>
   <li><code>#SVID</code>&nbsp;Suidas</li>
   <li><code>#TAC</code>&nbsp;Tacitus<span class="text-muted"> [58 p.C. - vers 120 p.C.]</span></li>
   <li><code>#TERT</code>&nbsp;Tertullianus</li>
   <li><code>#THEOD</code>&nbsp;Theodosius</li>
   <li><code>#THVC</code>&nbsp;Thucydides<span class="text-muted"> [471 a.C. - ]</span></li>
   <li><code>#TIB</code>&nbsp;Tibullus<span class="text-muted"> [54 a.C. - 19 a.C.]</span></li>
   <li><code>#VLP</code>&nbsp;Ulpianus</li>
   <li><code>#VAL.MAX</code>&nbsp;Valerius Maximus</li>
   <li><code>#VARRO</code>&nbsp;Varro<span class="text-muted"> [116 a.C. - 72 a.C.]</span></li>
   <li><code>#VELL</code>&nbsp;Velleius Paterculus<span class="text-muted"> [19 a.C. - 31 p.C.]</span></li>
   <li><code>#VIRG</code>&nbsp;Virgilius<span class="text-muted"> [vers 71 a.C. - 19 a.C.]</span></li>
   <li><code>#VOL</code>&nbsp;Volusius Maecianus</li>
   <li><code>#VOP</code>&nbsp;Vopiscus, Vospicus</li>
   <li><code>#XEN</code>&nbsp;Xenophon<span class="text-muted"> [443 a.C. - 355 a.C.]</span></li>
   <li><code>#XIPH</code>&nbsp;Xiphilinus</li>
   <li><code>#ZON</code>&nbsp;Zonaras</li>
   <li><code>#ZOSIM</code>&nbsp;Zosimus</li>
   <li><code>#PANEG</code>&nbsp;panegyrici</li>
</ul>