<h3>Le projet Tacitus On Line</h3>
<div>
  <ul>
    <li>
      Le but est de présenter le plus grand nombre de commentaires possibles,
      écrits à partir du XVe siècle, autour des <i>Annales</i> de Tacite, pour
      permettre un développement des recherches.
    </li>
    <li>
      En tant qu’encodeur, votre rôle est de transcrire les commentaires au
      texte de Tacite et d’en annoter certains phénomènes.
    </li>
    <li>
      À partir du PDF de l’édition de référence et du fichier XML-TEI où se trouve
      déjà le texte de Tacite encodé, vous allez encoder les commentaires en
      utilisant le logiciel Oxygen.
    </li>
  </ul>
</div>
<div style="text-align: center;">
  <img src="img/manual/schema_project.PNG" class="img-fluid" alt="Étapes du projet" width="80%"/>
</div>
