<h3>Avant-propos</h3>
<div class="content col">
  <ul>
    <li>
      L'objectif de ce manuel est de présenter le plus pratiquement possible
      les <span class="important">tâches de transcription et d'encodage</span> du projet Tacitus On
      Line, ainsi que les concepts qui les sous-tendent.
    </li>
    <li>
      Il est à destination des personnes qui participent à ces tâches.
    </li>
    <li>
      Encodage = transcrire un texte dans un format donné (selon des codes)
    </li>
  </ul>
</div>
