<h3>Annotation - Balises et attributs</h3>
<table class="table table-bordered align-middle" style="width:100%">
  <thead>
    <tr>
      <th scope="col" style="width: 12%">Balise</th>
      <th scope="col">Signification</th>
      <th scope="col">Valeur</th>
      <th scope="col">Attribut(s)</th>
      <th scope="col">Valeur des attributs</th>
    </tr>
  </thead>
  <tbody style="font-size:85%; text-align:left">
    <tr>
      <th scope="row"><code>&lt;choice&gt;</code></th>
      <td>Regroupe deux versions d'une même forme</td>
      <td>Les deux versions de la forme en question</td>
      <td colspan="2" style="text-align: center;">pas d'attribut</td>
    </tr>
    <tr>
      <th scope="row"><code>&lt;orig&gt;</code></th>
      <td colspan="2">Forme originale</td>
      <td colspan="2" style="text-align: center;">pas d'attribut</td>
    </tr>
    <tr>
      <th scope="row"><code>&lt;reg&gt;</code></th>
      <td colspan="2">Forme régularisée/normalisée</td>
      <td colspan="2" style="text-align: center;">pas d'attribut</td>
    </tr>
    <tr>
      <td colspan="5" style="text-align: center;"><img src="img/manual/exemple_choice.PNG" class="img-fluid" alt="Exemple &lt;choice>" width="25%"/></td>
    </tr>
    <tr>
      <th scope="row"><code>&lt;corr&gt;</code></th>
      <td colspan="2">Forme corrigée</td>
      <td colspan="2" style="text-align: center;">pas d'attribut</td>
    </tr>
    <tr>
      <th scope="row"><code>&lt;foreign&gt;</code></th>
      <td>Passage en grec (hors citation)</td>
      <td>Tout le segment de texte en grec</td>
      <td colspan="2" style="text-align: center;"><b>xml:lang="GR"</b></td>
    </tr>
    <tr>
      <th scope="row"><code>&lt;unclear&gt;</code></th>
      <td>Lecture ou transcription incertaine</td>
      <td>Segment de texte concerné</td>
      <td colspan="2" style="text-align: center;">pas d'attribut</td>
    </tr>
    <tr>
      <th scope="row"><code>&lt;persName&gt;</code></th>
      <td>Nom de personne.
      <td>Segment de texte concerné</td>
      <td><b>ref</b> (optionnel)</td>
      <td>Identifiant de la personne précédé d'un # pour les auteurs auteurs mentionnés, les commentateurs, mais pas les personnages historiques</td>
    </tr>
  </tbody>
</table>
