<h3>Citations - Balises et attributs</h3>
<table class="table table-bordered align-middle" style="width:100%">
    <thead>
        <tr>
            <th scope="col" style="width: 12%">Balise</th>
            <th scope="col">Signification</th>
            <th scope="col">Valeur</th>
            <th scope="col">Attribut(s)</th>
            <th scope="col">Valeur des attributs</th>
        </tr>
    </thead>
    <tbody style="font-size:85%; text-align:left">
        <tr>
            <th scope="row" rowspan="5"><code>&lt;q&gt;</code></th>
            <td rowspan="4">Citation</td>
            <td rowspan="4">Passage cité</td>
            <td><b>xml:id</b> : identifiant unique de la citation (voir <a href="?page=manual#att_xmlid">page xml:id</a>)</td>
            <td>identifiant du commentaire + "_q" + numéro de la citation dans le commentaire</td>
        </tr>
        <tr>
            <td colspan="2"><b>ana</b> : c'est Isabelle Cogitore qui fait ces annotations</td>
        </tr>
        <tr>
            <td><b>who</b> : auteur de la citation, si connu</td>
            <td>voir <a href="?page=manual#authors">liste des auteurs</a> (toujours précédé d'un #)</td>
        </tr>
        <tr>
            <td><b>xml:lang</b> : si la citation n'est pas en latin</td>
            <td>"GR" pour grec</td>
        </tr>
        <tr>
          <td colspan="4"><samp>
              <span class="balise">&lt;q</span> <span class="att">xml:id=</span><span class="attV">"LIPS_1.73_q1"</span>
              <span class="att">ana=</span><span class="attV">"#loc" </span>
                  <span class="att">who=</span><span class="attV">"#seneca"</span><span class="balise">></span><br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;Mariana clade quam multos splendidissime natos,<br/>
		  &nbsp;&nbsp;&nbsp;&nbsp;Senatorium per ex illis pastorem, alium custodem<br/>
		  &nbsp;&nbsp;&nbsp;&nbsp;casulae fecit<br/>
                  <span class="balise">&lt;/q></span>
              </samp></td>
        </tr>
        <tr>
            <th scope="row" rowspan="2"><code>&lt;span&gt;</code></th>
            <td>Traduction de la citation</td>
            <td>La traduction</td>
            <td colspan="2"><b>type="#translatio"</b></td>
        </tr>
        <tr>
            <td colspan="4">
              <samp>
                <span class="balise">&lt;q</span> <span class="att"> xml:id=</span><span class="attV">"LIPS_1.81_q1"</span>
		<span class="att">ana=</span><span class="attV">"#LOC"</span>
		<span class="att">who=</span><span class="attV">"#D.C"</span>
    		<span class="att">xml:lang=</span><span class="attV">"#GR"</span>
		<span class="balise">></span><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;καὶ αὐτῷ ἔν τε τῇ Ῥώμῃ ἡρῷον ψηφισθὲν μὲν ὑπὸ τῆς γερουσίας<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;(...)<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;<span class="balise">&lt;span</span> <span class="att">type=</span><span class="attV">"#translatio"</span>
		<span class="balise">></span><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ipsi Augusto templum Romae decretum quidem a Senatu, sed a Liuia<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(...)<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;<span class="balise">&lt;/span></span><br/>
		<span class="balise">&lt;/q></span>
            </samp>
          </td>
        </tr>
        <tr>
            <th scope="row" rowspan="2"><code>&lt;l&gt;</code></th>
            <td>Vers, à l’intérieur d’une citation</td>
            <td>Vers cité</td>
            <td colspan="2" style="text-align: center;">pas d’attribut</td>
        </tr>
        <tr>
          <td colspan="4"><samp>
              <span class="balise">&lt;q</span> <span class="att">xml:id=</span><span class="attV">"LIPS_1.81_q4"</span>
              <span class="att">ana=</span><span class="attV">"#LOC"</span>
              <span class="att">who=</span><span class="attV">"#ovidius"</span>
              <span class="balise">></span><br/>
              &nbsp;&nbsp;&nbsp;&nbsp;<span class="balise">&lt;l></span>Quale tamen potui de celite, recenti<span class="balise">&lt;/l></span><br/>
              &nbsp;&nbsp;&nbsp;&nbsp;<span class="balise">&lt;l></span>Vestra proculposituscarmenin ora dedi.<span class="balise">&lt;/l></span><br/>
              <span class="balise">&lt;/q></span>
            </samp></td>
        </tr>
    </tbody>
</table>
