<h3>Vocabulaire du projet</h3>
<div>
  <ul>
    <li>
      Selon l’édition des Belles Lettres, chaque livre des <i>Annales</i> de Tacite est
       divisé en paragraphes, à l’intérieur desquels les phrases sont numérotées
    </li>
    <ul>
      <img src="img/manual/div_annales.PNG" class="img-fluid" alt="Division des Annales de Tacite" width="50%"/>
      <li>Exemple : <span class="livre">1</span>.<span class="paragraphe">7</span>.
        <span class="phrase">4</span> chez Tacite correspond à la
        <span class="phrase">quatrième phrase</span> du
        <span class="paragraphe">septième paragraphe</span> du
        <span class="livre">livre 1</span></li>
    </ul>
    <li>
      Lemme : premiers mots de la petite phrase commentée, repris en majuscules
      en début de commentaire
    </li>
  </ul>
</div>
<div style="text-align: center;">
  <img src="img/manual/lemme.PNG" class="img-fluid" alt="Lemme" width="70%">
</div>
