<h3>Le XML - "Bien formé"</h3>
<div>
  <ul>
    <li>
      Un document XML doit impérativement être <strong>bien formé</strong> pour
      être utilisable.
    </li>
    <li>
      Pour cela, il doit impérativement respecter certaines règles de base,
      notamment&nbsp;:
      <ol>
        <li>toute balise ouvrante doit être suivie d’une balise fermante.</li>
        <li>les balises ne doivent jamais se chevaucher, c’est-à-dire que si
          une balise contient une balise ouvrante, la balise fermante associée
          doit également se retrouver dans la première balise (imbrication des balises).</li>
      </ol>
    </li>
  </ul>
</div>
