<H3>L'équipe</H3><ul>
   <li>Responsable du projet : <i>Isabelle Cogitore.</i></li>
   <li>Transcription de commentaires de Juste Lipse au livre I : <i>Celia Charlois.</i></li>
   <li>Transcription de commentaires (dont Beatus Rhenanus, Beroaldus et Ferretti) aux
      livres I, II et III : <i>Louis Autin.</i></li>
   <li>Transcription des commentaires 1 à 110 de Juste Lipse au livre III, d'Alciat au livre
      I : <i>Ketsiah Briard.</i></li>
   <li>Transcription des commentaires de Vertranius aux livres I à III, de Ferretti au livre
      I : <i>Arno Chassard.</i></li>
   <li>Transcription de commentaires de Juste Lipse et autres aux livres I à III;transcription
      des commentaires de Colerus au livre I, Annotation des commentaires aux livres I à
      III : <i>Isabelle Cogitore.</i></li>
   <li>Transcription des commentaires de Ursinus et Marcellus Dnatus au livre I : <i>Euphrasie Couronné.</i></li>
   <li>Transcription des commentaires de Juste Lipse au livre I : <i>Diandra Cristache.</i></li>
   <li>Transcription des commentaires de Mercier et Pichenas au livre I : <i>Anaïs Liot-Louveau.</i></li>
   <li>Transcription des commentaires de Lupanus aux livres I à III, d'Ursinus au livre I,
      de Marcellus Donatus au livre I : <i>Nassim Mandhouj.</i></li>
   <li>Supervision de l'encodage, visualisation, formation : <i>Elisabeth Greslou et Anne Garcia-Fernandez.</i></li>
   <li>Création du manuel d'encodage : <i>Célia Marion.</i></li>
   <li>Premier démonstrateur du site : <i>Riccardo Santarelli.</i></li>
   <li>Structuration et squelette du site : <i>Arnaud Bey.</i></li>
   <li>Visualisation des transcriptions (Livres 1, 2 et 3 et commentaires associés) : <i>Anne Garcia-Fernandez.</i></li>
   <li>Visualisation des données (Le Lab') : <i>Anne Garcia-Fernandez.</i></li>
</ul>