<h4>Sources</h4><p>Les commentaires sont transcrits d'après l'édition Paris 1608 Pierre Chevalier, Taciti
   et C. Velleii Paterculi scripta quae exstant; recognita, emaculata. Additique commentarii
   copiosissimi et notae non antea editaeParis e typographia Petri Chevalier, in monte
   diui Hilarii, bibliothèque municipale de Lyon.</p><p>Le texte latin des Annales de Tacite est donné selon l'établissement de l'édition
   des Belles Lettres, gracieusement mis à disposition par l'éditeur.</p><p>Les facsimilés de l'édition de 1608 (Paris, Pierre Chevallier) sont gracieusement
   mis à disposition par la Bibliothèque Municipale de Lyon qui a pris en charge la numérisation
   de l'ouvrage disponible sous la cote BmL 23955.</p>