<i>De la plus récente à la plus ancienne.</i><ul>
   <li><b title="7">Version publiée à DH2019 (juillet 2019)</b></li>
   <ul>
      <li><i class="text-secondary" title="6">Transcription du grec par Célia Charlois (mai 2019)</i></li>
   </ul>
   <ul>
      <li><i class="text-secondary" title="5">Rédaction des entêtes par Isabelle (avril 2019).</i></li>
   </ul>
   <ul>
      <li><i class="text-secondary" title="4">Création des entêtes TEI par Anne (février 2019)</i></li>
   </ul>
   <ul>
      <li><i class="text-secondary" title="3">Saisie par Diandra des corrections apportées par Isabelle
            (2018).</i></li>
   </ul>
   <ul>
      <li><i class="text-secondary" title="2">Modification selon réunion du 08/11/2017.</i></li>
   </ul>
   <ul>
      <li><i class="text-secondary" title="1">Création d'un premier brouillon par Elisabeth Greslou et Anne
            Garcia-Fernandez (jeudi 26 octobre 2017).</i></li>
   </ul>
</ul>