<div id="carouselExampleIndicators" class="carousel slide float-right ml-3" data-ride="carousel">
   <div class="carousel-inner" style="width: 250px;">
      <div class="carousel-item active">
         <figure class="figure"><img class="d-block rounded" src="img/Ill.1.Lipsius.40j.jpg" style="width: 250px; max-height: 400px;" title="Juste Lipse (1547-1606), illustration (crédits : Collection privée J. De Landtsheer)"></img><figcaption class="figure-caption">Juste Lipse (1547-1606), illustration (crédits : Collection privée J. De Landtsheer)</figcaption>
         </figure>
      </div>
      <div class="carousel-item">
         <figure class="figure"><img class="d-block rounded" src="img/BML_02INT00001_23955-0001r0_100dpi.jpg" style="width: 250px; max-height: 400px;" title="Édition de 1608 (Paris, Pierre Chevallier) (crédits : Bibliothèque Municipale de Lyon)"></img><figcaption class="figure-caption">Édition de 1608 (Paris, Pierre Chevallier) (crédits : Bibliothèque Municipale de Lyon)</figcaption>
         </figure>
      </div>
   </div><a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a></div><p class="text-justify">Le projet Tacitus On Line est né du besoin de disposer des commentaires les plus
   importants portés aux œuvres de l’historien latin Tacite (58-120 environ ap. J.-C.),
   rassemblés de manière à ouvrir la possibilité de recherches sur leur contenu.</p><p class="text-justify">Le Moyen-Âge avait oublié Tacite et il a fallu attendre le XVe siècle pour qu'il soit
   véritablement redécouvert et diffusé par les érudits. Cette redécouverte a tout d’abord
   donné lieu à des commentaires visant l’établissement du texte, puis à des commentaires
   qui, progressivement, se sont enrichis et ont comporté des approches historiques,
   religieuses, politiques, etc. Une étape majeure a été représentée par les travaux
   de
   l’humaniste <mark title="Nom de personne">Juste Lipse (1547-1606)</mark><a href=""></a>, qui, à travers plusieurs éditions successives des œuvres de
   Tacite, a développé un commentaire très riche, qui a influencé à son tour la pensée
   humaniste, notamment dans le domaine politique. </p><p class="text-justify">Le projet Tacitus On Line a commencé par proposer à la lecture et à l’étude les
   commentaires de Juste Lipse aux <i>Annales</i> de Tacite, en offrant des
   analyses qui, en se fondant sur une typologie, font apparaître la nature de leur contenu.
   Il s'est ensuite étendu aux commentaires faits par les prédécesseurs de Lipse, tels
   qu’ils
   ont été sélectionnés dans une édition de
   1608 (Paris, Pierre Chevallier), très diffusée en Europe, numérisée par la
   Bibliothèque Municipale de Lyon<a href=""></a> Cet enrichissement est toujours en cours. Une extension concernera
   ensuite les commentaires aux <i>Histoires</i>. </p><p class="text-justify">Le projet comportera également des ressources bibliographiques sur Tacite, sur Juste
   Lipse et les autres commentateurs.</p><p class="text-justify">Destiné à permettre des recherches ultérieures sur les commentaires humanistes et
   leur
   rapport au texte antique, le site est aussi un laboratoire d’expérimentation, pour
   tester
   des outils qui pourraient être appliqués à d’autres objets d’étude, d’autres éditions
   ou
   commentaires. Il représente en outre une opportunité pour la formation des étudiants
   en
   latin, qui apprennent à encoder et travailler sur des textes non classiques.</p><p class="text-justify"></p>