<H3>Soutiens</H3> Le projet a bénéficé du soutien financier de : <ul>
   <li>Litt&amp;Arts (UMR 5316, UGA / CNRS)</li>
   <li>Réseau des MSH (appel à projet 2017 Mission interdisciplinarité)</li>
   <li>COLLEX
      (bourse individuelle de numérisation 2018)</li>
   <li>Consortium CAHIER</li>
</ul> Ainsi que du soutien de l'équipe Littératures, Arts et Numérique (ELAN,
Litt&amp;Arts), de la MSH-Alpes, de l'IR* Huma-Num (hébergement du site web) et de la bibliothèque municipale de Lyon (mise à disposition des
facsimilés).