<p class="text-justify">Le projet Tacitus On Line est né du besoin de disposer des commentaires les plus
   importants portés aux œuvres de l’historien latin Tacite (58-120 environ ap. J.-C.),
   rassemblés de manière à ouvrir la possibilité de recherches sur leur contenu.</p><p class="text-justify">Le Moyen-Âge avait oublié Tacite et il a fallu attendre le XVe siècle pour qu'il soit
   véritablement redécouvert et diffusé par les érudits. Cette redécouverte a tout d’abord
   donné lieu à des commentaires visant l’établissement du texte, puis à des commentaires
   qui, progressivement, se sont enrichis et ont comporté des approches historiques,
   religieuses, politiques, etc. Une étape majeure a été représentée par les travaux
   de
   l’humaniste <mark title="Nom de personne">Juste Lipse (1547-1606)</mark><a href=""></a>, qui, à travers plusieurs éditions successives des œuvres de
   Tacite, a développé un commentaire très riche, qui a influencé à son tour la pensée
   humaniste, notamment dans le domaine politique. </p><p class="text-justify">Le projet Tacitus On Line a commencé par proposer à la lecture et à l’étude les
   commentaires de Juste Lipse aux <i>Annales</i> de Tacite, en offrant des
   analyses qui, en se fondant sur une typologie, font apparaître la nature de leur contenu.
   Il s'est ensuite étendu aux commentaires faits par les prédécesseurs de Lipse, tels
   qu’ils
   ont été sélectionnés dans une édition de
   1608 (Paris, Pierre Chevallier), très diffusée en Europe, numérisée par la
   Bibliothèque Municipale de Lyon<a href=""></a> Cet enrichissement est toujours en cours. Une extension concernera
   ensuite les commentaires aux <i>Histoires</i>. </p><p class="text-justify">Le projet comportera également des ressources bibliographiques sur Tacite, sur Juste
   Lipse et les autres commentateurs.</p><p class="text-justify">Destiné à permettre des recherches ultérieures sur les commentaires humanistes et
   leur
   rapport au texte antique, le site est aussi un laboratoire d’expérimentation, pour
   tester
   des outils qui pourraient être appliqués à d’autres objets d’étude, d’autres éditions
   ou
   commentaires. Il représente en outre une opportunité pour la formation des étudiants
   en
   latin, qui apprennent à encoder et travailler sur des textes non classiques.</p><div id="project" class="row anchor">
   <div class="col">
      <h3 id="biblio">Bibliographie</h3>
      <ul>
         <li>Lucie Claire, « Commenter les Annales de Tacite dans la
            première moitié du XVIe siècle : André Alciat, Beatus Rhenanus, Emilio
            Ferretti », Anabases [En ligne], 15 | 2012, mis en ligne le 01 avril 2015,
            consulté le 11 octobre 2019. URL : http://anabases.revues.org/3725 ; DOI :
            10.4000/anabases.3725</li>
         <li>Anne Garcia Fernandez et Isabelle
            Cogitore, « Laboratoire numérique
            pour l'étude de paratextes: l'exemple de Tacitus On Line, 2019. </li>
         <li>Lucie Claire, « Marc Antoine Muret lecteur de Tacite. Éditer et commenter les Annales à la Renaissance » Genève, Droz, 2022</li>
         <li>Kevin Bovier, « La Renaissance de Tacite. Commenter les Histoires et les Annales au XVIe siècle » Basel, Schwabe Verlag, 2022</li>
      </ul>
   </div>
</div>