<h4>Publication</h4><p> L'édition est publiée par
   <span title="tei:authority">UMR 5316 Litt&amp;Arts dans le cadre du projet Tacitus On Line</span>
   .</p><h4>Diffusion</h4><p><span title="tei:availability">
      <p class="text-justify">Ce site et l'ensemble des textes qui y sont publiés sont proposés selon les termes
         de
         la <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">Licence
            Creative Commons Attribution - Pas d'utilisation commerciale - Partage dans les mêmes
            conditions 4.0 International</a>.</p></span></p>