<h5>Corrections</h5><p class="text-justify">Les erreurs d'impression sont corrigées mais non signalées, sauf si la correction
   n'est
   pas évidente. </p><h5>Normalisations</h5><p class="text-justify">Le latin est transcrit selon les règles des éditions actuelles françaises ; on ne
   trouvera donc que des i et pas de j; des u et pas de v, sauf en majuscule des noms
   propres et début de phrase.</p><p class="text-justify">Les finales longues notées dans l'édition de 1608 comme ij ou iy sont notées ii.</p><p class="text-justify">Les voyelles ne sont pas accentuées.</p><p class="text-justify">Les diphtongues restent notées comme deux voyelles à la suite, non liées. </p><p class="text-justify">Les ∫ correspondant à la graphie de l'édition 1608 des s sont notés s.</p><p class="text-justify">La ponctuation de l'édition de 1608 a été normalisée selon les règles modernes ; les
   points qui ne marquaient pas une fin de phrase ont été supprimés et remplacés par
   une virgule, dans la mesure où la
   structure grammaticale de la phrase le justifiait.</p><p class="text-justify">L'esperluette n'est pas encodée mais est transcrite sous la forme "et".</p><h5>Interprétations</h5><p class="text-justify">La liste des types de citations est : 
   <ul>
      <li><span class="pl-1 pr-1 mr-2" data-type="LOC"><b>Citation littéraire</b></span>citation d’un auteur
         antique, latin ou grec ; contient parfois une proposition de correction du texte
         cité; les textes grecs sont parfois accompagnés d'une traduction en
         latin</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="TIT"><b>Citation d'inscription / épigraphie</b></span>citation
         d’une inscription en latin ou en grec</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="NVM"><b>Citation de monnaie / numismatique</b></span>citation
         d’une légende monétaire</li>
   </ul>
</p><p class="text-justify">La liste des types de commentaires est : 
   <ul>
      <li><span class="pl-1 pr-1 mr-2" data-type="CONTR"><b>controuersia</b></span>controverse scientifique, discussion du
         commentateur avec un de ses devanciers ; accord ou désaccord; éloge ou
         critique</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="EGO"><b>ego</b></span>pour une intervention personnelle du commentateur, un
         renvoi à son expérience personnelle, à son époque, ou à un lieu qu'il
         fréquenté</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="GEO"><b>geographica</b></span>localisation et identification d'un endroit cité par
         Tacite</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="HIST"><b>historica</b></span>explication historique, par exemple sur durée d’une
         magistrature, sur une date, ou pour identification d'un personnage ;</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="IVRA"><b>iura</b></span> point de droit, histoire du droit, concernant les lois, les sénatus-consultes</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="LECT"><b>lectio</b></span>établissement du texte: quand le commentateur corrige le
         texte de Tacite et en propose une lecture différente de ses devanciers ou des
         manuscrits</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="MENT"><b>mentio</b></span>renvoi à un auteur antique, latin ou grec, sans citation
         du texte</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="MIL"><b>militaria</b></span>informations sur le monde militaire
         antique</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="MOR"><b>moralia</b></span>développement d’une idée morale</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="OPER"><b>opera</b></span>renvoi à d'autres œuvres du
         commentateur</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="POL"><b>politica</b></span>interprétation politique faite par le commentateur sur
         une institution, ou sur un fait politique;</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="REAL"><b>realia</b></span>développement spécialement consacré à des détails
         concrets de l'antiquité</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="REL"><b>religio</b></span>informations sur des faits religieux ou cultuels
         </li>
      <li><span class="pl-1 pr-1 mr-2" data-type="SENS"><b>sensus</b></span>paraphrase du texte de Tacite, explicitation,
         glose</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="STYL"><b>stylus</b></span>remarque sur un fait de
         style de Tacite, par exemple l'imitation d’un devancier,etc</li>
      <li><span class="pl-1 pr-1 mr-2" data-type="VOC"><b>Vocabulum</b></span>éclaircissement du sens
         par proposition d’un synonyme pour un mot ou une expression</li>
   </ul>
</p>