<button type="button" data-criteria-type="quoteAuthor" id="#?" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#?</button>
<button type="button" data-criteria-type="quoteAuthor" id="#ambrosius ?" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#ambrosius ?</button>
<button type="button" data-criteria-type="quoteAuthor" id="#ammianus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">Ammianus Marcellinus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#appianus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#appianus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#arnobius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#arnobius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#asinius-gallus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#asinius-gallus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#beroaldus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#beroaldus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#caesar" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#caesar</button>
<button type="button" data-criteria-type="quoteAuthor" id="#calpurnius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#calpurnius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#calpurnius-flaccus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#calpurnius-flaccus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#capitolinus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#capitolinus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#censorinus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#censorinus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#cicero" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#cicero</button>
<button type="button" data-criteria-type="quoteAuthor" id="#claudianus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#claudianus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#claudianus ?" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#claudianus ?</button>
<button type="button" data-criteria-type="quoteAuthor" id="#clemens-alexandrinus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#clemens-alexandrinus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#cornelius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#cornelius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#demosthenes" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#demosthenes</button>
<button type="button" data-criteria-type="quoteAuthor" id="#diaconus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#diaconus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#dio" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#dio</button>
<button type="button" data-criteria-type="quoteAuthor" id="#dio #svetonius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#dio #svetonius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#euripides" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#euripides</button>
<button type="button" data-criteria-type="quoteAuthor" id="#florus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#florus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#herodianus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#herodianus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#herodianus ?" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#herodianus ?</button>
<button type="button" data-criteria-type="quoteAuthor" id="#hieronymus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#hieronymus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#hirtius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#hirtius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#homerus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#homerus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#horatius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#horatius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#isidorus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#isidorus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#iunius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#iunius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#iuvenalis" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#iuvenalis</button>
<button type="button" data-criteria-type="quoteAuthor" id="#lampridius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#lampridius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#livius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#livius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#livius ?" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#livius ?</button>
<button type="button" data-criteria-type="quoteAuthor" id="#lucanus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#lucanus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#martialis" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#martialis</button>
<button type="button" data-criteria-type="quoteAuthor" id="#minutius-felix" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#minutius-felix</button>
<button type="button" data-criteria-type="quoteAuthor" id="#muretus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#muretus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#orosius ?" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#orosius ?</button>
<button type="button" data-criteria-type="quoteAuthor" id="#ovidius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#ovidius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#pandeclius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#pandeclius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#pausanias" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#pausanias</button>
<button type="button" data-criteria-type="quoteAuthor" id="#philo-judaeus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#philo-judaeus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#pincianus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#pincianus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#plinius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#plinius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#plutarchus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#plutarchus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#plutarchus #dio #svetonius #lucanus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#plutarchus #dio #svetonius #lucanus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#plutarchus ?" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#plutarchus ?</button>
<button type="button" data-criteria-type="quoteAuthor" id="#polybius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#polybius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#porcius-latro" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#porcius-latro</button>
<button type="button" data-criteria-type="quoteAuthor" id="#quintilianus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#quintilianus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#seneca" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#seneca</button>
<button type="button" data-criteria-type="quoteAuthor" id="#seneca pater" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#seneca pater</button>
<button type="button" data-criteria-type="quoteAuthor" id="#seneca-pater" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#seneca-pater</button>
<button type="button" data-criteria-type="quoteAuthor" id="#sidonius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#sidonius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#silianum ?" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#silianum ?</button>
<button type="button" data-criteria-type="quoteAuthor" id="#silius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#silius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#spartianus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#spartianus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#statius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#statius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#strabo" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#strabo</button>
<button type="button" data-criteria-type="quoteAuthor" id="#suidas" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#suidas</button>
<button type="button" data-criteria-type="quoteAuthor" id="#svetonius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#svetonius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#svetonius ?" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#svetonius ?</button>
<button type="button" data-criteria-type="quoteAuthor" id="#tacitus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">Tacite</button>
<button type="button" data-criteria-type="quoteAuthor" id="#tacitus ?" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#tacitus ?</button>
<button type="button" data-criteria-type="quoteAuthor" id="#tert" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#tert</button>
<button type="button" data-criteria-type="quoteAuthor" id="#tertullianus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#tertullianus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#thucidides" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#thucidides</button>
<button type="button" data-criteria-type="quoteAuthor" id="#torrentius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#torrentius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#ulpianus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#ulpianus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#valerius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#valerius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#varro" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#varro</button>
<button type="button" data-criteria-type="quoteAuthor" id="#velleius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#velleius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#virgilius" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#virgilius</button>
<button type="button" data-criteria-type="quoteAuthor" id="#xenophon" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#xenophon</button>
<button type="button" data-criteria-type="quoteAuthor" id="#xiphilinus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#xiphilinus</button>
<button type="button" data-criteria-type="quoteAuthor" id="#zosimus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">#zosimus</button>
<button type="button" data-criteria-type="quoteAuthor" id="?" data-theme="secondary" class="btn-filter btn btn-outline-secondary">?</button>
<button type="button" data-criteria-type="quoteAuthor" id="tacitus" data-theme="secondary" class="btn-filter btn btn-outline-secondary">tacitus</button>