<div id="legend">
   <h4>Mode d'emploi et légende</h4>
   <p><span class="lead">Cette liste est en cours d'établissement</span>
      Nous ne sommes pas sûr.e.s de l'identité d'un commentateur au moins (identifié dans
      notre édition TEI par <code>#JUN</code>) : s'agit-il d'<i>Hadrianus Junius</i> ou
      bien de <i>Franciscus Junius</i> ?</p>
   <p>Nous sommes aussi à la recherche d'un référentiel de nom de personne auquel nous pourrions
      nous référer et faire lien.</p>
</div><ul class="list-unstyled card-columns list-person">
   <li><code>#ACID</code>&nbsp;Acidalius Valens<span class="text-muted"> [25 mai 1567 - 25 mai 1595]</span></li>
   <li><code>#ALC</code>&nbsp;Alciat<span class="text-muted"> [8 mai 1492 - 12 janvier 1550]</span></li>
   <li><code>#AGU</code>&nbsp;Antonius Augustinus<span class="text-muted"> [26 février 1517 - 31 mai 1586]</span></li>
   <li><code>#BUSB</code>&nbsp;Augerius Busbequius (Busbequius)<span class="text-muted"> [1522 - 1591]</span></li>
   <li><code>#BEAT</code>&nbsp;Beatus Rhenanus (Rhenanus)<span class="text-muted"> [22 août 1485 - 20 juillet 1547]</span></li>
   <li><code>#BER</code>&nbsp;Beroaldus (Filippo Beroaldo)<span class="text-muted"> [11 juillet 1453 - 17 juillet 1505]</span></li>
   <li><code>#CLUS</code>&nbsp;Carolus Clusius<span class="text-muted"> [12 mars 1526 - 4 avril 1609]</span></li>
   <li><code>#COL</code>&nbsp;Christophorus Colerus<span class="text-muted"> [1602 - 1658]</span></li>
   <li><code>#CUJAC</code>&nbsp;Cujacius (Cujas)<span class="text-muted"> [1522 - 4 octobre 1590]</span></li>
   <li><code>#DECK</code>&nbsp;Deckerius<span class="text-muted"> [1560 - 1619]</span></li>
   <li><code>#FAER</code>&nbsp;Faernus Cremonensis<span class="text-muted"> [vers 1510 - 1561]</span></li>
   <li><code>#FERR</code>&nbsp;Ferretti<span class="text-muted"> [14 novembre 1489 - 15 juillet 1552]</span></li>
   <li><code>#GRUT</code>&nbsp;Gruter<span class="text-muted"> [3 décembre 1560 - 20 septembre 1627]</span></li>
   <li><code>#IUN</code>&nbsp;Hadrianus Junius (Franciscus Junius)<span class="text-muted"> [1511 25 janvier 1591 - 1576 1677]</span></li>
   <li><code>#GRO</code>&nbsp;Hieronymus Groslotius</li>
   <li><code>#CAMP</code>&nbsp;Iacobus Campius</li>
   <li><code>#MERC</code>&nbsp;Iosias Mercerius<span class="text-muted"> [1560 - 1626]</span></li>
   <li><code>#DOUS</code>&nbsp;Janus Douza<span class="text-muted"> [6 décembre 1545 - 8 octobre 1604]</span></li>
   <li><code>#LIPS</code>&nbsp;Juste Lipse<span class="text-muted"> [18 octobre 1547 - 23 mars 1606]</span></li>
   <li><code>#LVP</code>&nbsp;Lupanus</li>
   <li><code>#MARC_DON</code>&nbsp;Marcellus Donatus<span class="text-muted"> [1538 - 8 juin 1602]</span></li>
   <li><code>#MOD</code>&nbsp;Modius<span class="text-muted"> [1536 - 23 juin 1597]</span></li>
   <li><code>#MUR</code>&nbsp;Muretus<span class="text-muted"> [12 avril 1526 - 4 juin 1585]</span></li>
   <li><code>#NIC.FAB</code>&nbsp;Nicolas Faber<span class="text-muted"> [1544 - 1612]</span></li>
   <li><code>#ONUF</code>&nbsp;Onofrius<span class="text-muted"> [23 février 1530 - 7 avril 1568]</span></li>
   <li><code>#DAN</code>&nbsp;Petrus Danesius<span class="text-muted"> [1497 - 1577]</span></li>
   <li><code>#PETR.FAB</code>&nbsp;Petrus Faber</li>
   <li><code>#PIC</code>&nbsp;Pichenas<span class="text-muted"> [1553 - 1626]</span></li>
   <li><code>#PIGH</code>&nbsp;Pighius</li>
   <li><code>#PINC</code>&nbsp;Pincianus<span class="text-muted"> [1475 - 1553]</span></li>
   <li><code>#TORR</code>&nbsp;Torrentius<span class="text-muted"> [1525 - 1595]</span></li>
   <li><code>#TURN</code>&nbsp;Turnebus<span class="text-muted"> [1512 - 12 juin 1565]</span></li>
   <li><code>#VRS</code>&nbsp;Ursinus<span class="text-muted"> [11 décembre 1529 - 18 mai 1600]</span></li>
   <li><code>#VERT</code>&nbsp;Vertranius (Vetranius)</li>
</ul>