<style>
                /*.reset-styles{
                background-color:inherit !important;
                }*/
                .hide {
                    display: none;
                }</style><h4>Mode d'emploi et légende</h4><p><span class="lead">À côté de chaque auteur</span>
   le nombre de fois où il est cité est indiqué.<br></br></p><p><span class="lead">Pourquoi y a-t-il du rouge ?!</span>
   Un auteur cité est représenté en rouge s'il n'est pas défini. C'est le cas par
   exemple des citations qui font référence à un id non déclaré. Pour déclarer un
   auteur, il faut simplement indiquer au sein du xml:id sa définition en utilisant
   l'un des encodages suivants. Les informations en gras sont obligatoires : les
   informations en italiques sont conseillées : 
   <ul>
      <li><code>&lt;author <b>xml:id="tacitus"</b><i>rendition="info"</i>&gt;<b>&lt;persName&gt;Tacite&lt;/persName&gt;</b>&lt;/author&gt;</code></li>
      <li><code>&lt;person <b>xml:id="ammianus"</b><i>rendition="warning"</i>&gt; <b>&lt;persName&gt;Ammianus
               Marcellinus&lt;/persName&gt;</b> &lt;birth&gt;vers 330 à Antioche sur
            l'Oronte&lt;/birth&gt; &lt;death&gt;vers 395 (au plus tard en 400)
            probablement à Rome&lt;/death&gt; &lt;note&gt;Blabla à propos de
            l'auteur.&lt;/note&gt; &lt;/person&gt;</code></li>
   </ul>
</p><button type="button" data-criteria-type="citOf" id="?" title="Identifiant #?" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_?&amp;op=and">#?<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="??" title="Identifiant #??" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_??&amp;op=and">#??<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="???" title="Identifiant #???" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_???&amp;op=and">#???<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="ALBIN" title="Identifiant #ALBIN" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_ALBIN&amp;op=and">Albinovanus Pedo<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="AMBR" title="Identifiant #AMBR" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_AMBR&amp;op=and"> Ambrosius<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="AMM" title="Identifiant #AMM" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_AMM&amp;op=and">#AMM<span class="badge badge-pill badge-light">9</span></button><button type="button" data-criteria-type="citOf" id="AMM.MARC" title="Identifiant #AMM.MARC" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_AMM.MARC&amp;op=and">Ammianus Marcellinus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="APOLLOD" title="Identifiant #APOLLOD" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_APOLLOD&amp;op=and"> Apollodorus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="APP" title="Identifiant #APP" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_APP&amp;op=and">Appianus<span class="badge badge-pill badge-light">13</span></button><button type="button" data-criteria-type="citOf" id="APVL" title="Identifiant #APVL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_APVL&amp;op=and">Apuleius<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="AR" title="Identifiant #AR" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_AR&amp;op=and">Aristophanes<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="ARN" title="Identifiant #ARN" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_ARN&amp;op=and"> Arnobius<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="ARR" title="Identifiant #ARR" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_ARR&amp;op=and">Arrianus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="ATH" title="Identifiant #ATH" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_ATH&amp;op=and">Atheneus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="AVR.VICT" title="Identifiant #AVR.VICT" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_AVR.VICT&amp;op=and">Aurelius Victor<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="BIAN" title="Identifiant #BIAN" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_BIAN&amp;op=and">Bianor<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="CAES" title="Identifiant #CAES" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_CAES&amp;op=and">Caesar<span class="badge badge-pill badge-light">9</span></button><button type="button" data-criteria-type="citOf" id="CALP.FLAC" title="Identifiant #CALP.FLAC" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_CALP.FLAC&amp;op=and">Calpurnius Flaccus<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="CAPIT" title="Identifiant #CAPIT" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_CAPIT&amp;op=and">Iulius Capitolinus<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="CENSOR" title="Identifiant #CENSOR" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_CENSOR&amp;op=and">Censorinus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="CIC" title="Identifiant #CIC" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_CIC&amp;op=and">Cicero<span class="badge badge-pill badge-light">26</span></button><button type="button" data-criteria-type="citOf" id="CLAVD" title="Identifiant #CLAVD" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_CLAVD&amp;op=and">Claudianus<span class="badge badge-pill badge-light">6</span></button><button type="button" data-criteria-type="citOf" id="CLEM.AL" title="Identifiant #CLEM.AL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_CLEM.AL&amp;op=and">Clemens Alexandrinus<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="CVRT" title="Identifiant #CVRT" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_CVRT&amp;op=and">Curtius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="D.C" title="Identifiant #D.C" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_D.C&amp;op=and">Dio Cassius<span class="badge badge-pill badge-light">52</span></button><button type="button" data-criteria-type="citOf" id="D.C?" title="Identifiant #D.C?" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_D.C?&amp;op=and">#D.C?<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="D.H" title="Identifiant #D.H" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_D.H&amp;op=and">Dionysius<span class="badge badge-pill badge-light">5</span></button><button type="button" data-criteria-type="citOf" id="DEM" title="Identifiant #DEM" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_DEM&amp;op=and">Demosthenes<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="DIG" title="Identifiant #DIG" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_DIG&amp;op=and">#DIG<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="DIOG.L" title="Identifiant #DIOG.L" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_DIOG.L&amp;op=and">Diogenes Laertius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="Diog.L" title="Identifiant #Diog.L" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_Diog.L&amp;op=and">#Diog.L<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="ENN" title="Identifiant #ENN" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_ENN&amp;op=and">Ennius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="EPICT" title="Identifiant #EPICT" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_EPICT&amp;op=and">Epictetus<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="ERAS" title="Identifiant #ERAS" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_ERAS&amp;op=and">#ERAS<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="EVR" title="Identifiant #EVR" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_EVR&amp;op=and">Euripides<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="EVSEB" title="Identifiant #EVSEB" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_EVSEB&amp;op=and">Eusebius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="EVTR" title="Identifiant #EVTR" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_EVTR&amp;op=and">Eutropius<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="FEST" title="Identifiant #FEST" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_FEST&amp;op=and">Festus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="FLOR" title="Identifiant #FLOR" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_FLOR&amp;op=and">Florus<span class="badge badge-pill badge-light">5</span></button><button type="button" data-criteria-type="citOf" id="FRONTIN" title="Identifiant #FRONTIN" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_FRONTIN&amp;op=and">Frontinus<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="GELL" title="Identifiant #GELL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_GELL&amp;op=and">Gellius<span class="badge badge-pill badge-light">4</span></button><button type="button" data-criteria-type="citOf" id="GELL #VARRO" title="Identifiant #GELL #VARRO" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_GELL #VARRO&amp;op=and">#GELL #VARRO<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="HEGES" title="Identifiant #HEGES" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_HEGES&amp;op=and">Hegesippus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="HEROD" title="Identifiant #HEROD" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_HEROD&amp;op=and">Herodianus<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="HIER" title="Identifiant #HIER" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_HIER&amp;op=and">Hieronymus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="HIRT" title="Identifiant #HIRT" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_HIRT&amp;op=and">Hirtius<span class="badge badge-pill badge-light">4</span></button><button type="button" data-criteria-type="citOf" id="HOM" title="Identifiant #HOM" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_HOM&amp;op=and">Homerus<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="HOR" title="Identifiant #HOR" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_HOR&amp;op=and">Horatius<span class="badge badge-pill badge-light">9</span></button><button type="button" data-criteria-type="citOf" id="HYG" title="Identifiant #HYG" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_HYG&amp;op=and">#HYG<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="HYG.GROM" title="Identifiant #HYG.GROM" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_HYG.GROM&amp;op=and">Hyginus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="IORD" title="Identifiant #IORD" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_IORD&amp;op=and">Iornandes, Iordanes<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="IREN" title="Identifiant #IREN" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_IREN&amp;op=and">Irenaeus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="ISID" title="Identifiant #ISID" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_ISID&amp;op=and">Isidorus<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="IVL.AP" title="Identifiant #IVL.AP" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_IVL.AP&amp;op=and">Iulianus Apostata<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="IVLIAN" title="Identifiant #IVLIAN" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_IVLIAN&amp;op=and">Iulianus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="IVST" title="Identifiant #IVST" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_IVST&amp;op=and">Iustinus<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="IVV" title="Identifiant #IVV" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_IVV&amp;op=and">Iuenalis<span class="badge badge-pill badge-light">18</span></button><button type="button" data-criteria-type="citOf" id="LACT.FIRM" title="Identifiant #LACT.FIRM" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_LACT.FIRM&amp;op=and">#LACT.FIRM<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="LAMP" title="Identifiant #LAMP" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_LAMP&amp;op=and">Lampridius<span class="badge badge-pill badge-light">6</span></button><button type="button" data-criteria-type="citOf" id="LIPS" title="Identifiant #LIPS" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_LIPS&amp;op=and">Juste Lipse<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="LIV" title="Identifiant #LIV" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_LIV&amp;op=and">Liuius<span class="badge badge-pill badge-light">46</span></button><button type="button" data-criteria-type="citOf" id="LIV.PER" title="Identifiant #LIV.PER" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_LIV.PER&amp;op=and">Epitome<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="LVC" title="Identifiant #LVC" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_LVC&amp;op=and">Lucanus<span class="badge badge-pill badge-light">15</span></button><button type="button" data-criteria-type="citOf" id="LVCIL" title="Identifiant #LVCIL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_LVCIL&amp;op=and">Lucilius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="LVCR" title="Identifiant #LVCR" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_LVCR&amp;op=and">Lucretius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="MACER" title="Identifiant #MACER" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_MACER&amp;op=and">#MACER<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="MART" title="Identifiant #MART" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_MART&amp;op=and">Martialis<span class="badge badge-pill badge-light">4</span></button><button type="button" data-criteria-type="citOf" id="MAX.TAVR" title="Identifiant #MAX.TAVR" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_MAX.TAVR&amp;op=and">Maximus Taurinensis<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="MEN" title="Identifiant #MEN" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_MEN&amp;op=and">#MEN<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="MINUC" title="Identifiant #MINUC" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_MINUC&amp;op=and">#MINUC<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="MINVC" title="Identifiant #MINVC" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_MINVC&amp;op=and">Minucius Felix<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="MOD" title="Identifiant #MOD" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_MOD&amp;op=and">Modius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="NAZAR" title="Identifiant #NAZAR" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_NAZAR&amp;op=and">Nazarius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="NEP" title="Identifiant #NEP" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_NEP&amp;op=and">#NEP<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="OBSEQ" title="Identifiant #OBSEQ" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_OBSEQ&amp;op=and">Iulius Obsequens<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="OROS" title="Identifiant #OROS" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_OROS&amp;op=and">Orosius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="OV" title="Identifiant #OV" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_OV&amp;op=and">Ouidius<span class="badge badge-pill badge-light">14</span></button><button type="button" data-criteria-type="citOf" id="PAL" title="Identifiant #PAL" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_PAL&amp;op=and">#PAL<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="PANEG" title="Identifiant #PANEG" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_PANEG&amp;op=and">Panegyrici<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="PAVL" title="Identifiant #PAVL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_PAVL&amp;op=and">Paulus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="PAVS" title="Identifiant #PAVS" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_PAVS&amp;op=and">Pausanias<span class="badge badge-pill badge-light">4</span></button><button type="button" data-criteria-type="citOf" id="PETRARC" title="Identifiant #PETRARC" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_PETRARC&amp;op=and">Petrarca<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="PHIL" title="Identifiant #PHIL" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_PHIL&amp;op=and">#PHIL<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="PL" title="Identifiant #PL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_PL&amp;op=and">Plautus<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="PLIN" title="Identifiant #PLIN" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_PLIN&amp;op=and">Plinius<span class="badge badge-pill badge-light">17</span></button><button type="button" data-criteria-type="citOf" id="PLIN #CORN #CIC" title="Identifiant #PLIN #CORN #CIC" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_PLIN #CORN #CIC&amp;op=and">#PLIN #CORN #CIC<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="PLIN.MIN" title="Identifiant #PLIN.MIN" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_PLIN.MIN&amp;op=and">Plinius<span class="badge badge-pill badge-light">25</span></button><button type="button" data-criteria-type="citOf" id="PLINE" title="Identifiant #PLINE" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_PLINE&amp;op=and">#PLINE<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="PLV" title="Identifiant #PLV" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_PLV&amp;op=and">Plutarchus<span class="badge badge-pill badge-light">10</span></button><button type="button" data-criteria-type="citOf" id="PLV ?" title="Identifiant #PLV ?" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_PLV ?&amp;op=and">#PLV ?<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="POL" title="Identifiant #POL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_POL&amp;op=and"><span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="POLL" title="Identifiant #POLL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_POLL&amp;op=and">Pollux<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="POLY" title="Identifiant #POLY" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_POLY&amp;op=and">Polybius<span class="badge badge-pill badge-light">4</span></button><button type="button" data-criteria-type="citOf" id="PROP" title="Identifiant #PROP" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_PROP&amp;op=and">Propertius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="PUB.SYR" title="Identifiant #PUB.SYR" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_PUB.SYR&amp;op=and">#PUB.SYR<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="QVINT" title="Identifiant #QVINT" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_QVINT&amp;op=and">Quintilianus, Quinctilianus<span class="badge badge-pill badge-light">6</span></button><button type="button" data-criteria-type="citOf" id="SALL" title="Identifiant #SALL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SALL&amp;op=and">Sallustius<span class="badge badge-pill badge-light">8</span></button><button type="button" data-criteria-type="citOf" id="SEN" title="Identifiant #SEN" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SEN&amp;op=and">Seneca<span class="badge badge-pill badge-light">36</span></button><button type="button" data-criteria-type="citOf" id="SEN.PAT" title="Identifiant #SEN.PAT" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SEN.PAT&amp;op=and">Seneca pater<span class="badge badge-pill badge-light">7</span></button><button type="button" data-criteria-type="citOf" id="SEN.RHET" title="Identifiant #SEN.RHET" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_SEN.RHET&amp;op=and">#SEN.RHET<span class="badge badge-pill badge-light">5</span></button><button type="button" data-criteria-type="citOf" id="SERG" title="Identifiant #SERG" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SERG&amp;op=and">Sergius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="SERV" title="Identifiant #SERV" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SERV&amp;op=and">Servius<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="SIC.FLACC" title="Identifiant #SIC.FLACC" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SIC.FLACC&amp;op=and">Siculus Flaccus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="SID" title="Identifiant #SID" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SID&amp;op=and">Sidonius<span class="badge badge-pill badge-light">5</span></button><button type="button" data-criteria-type="citOf" id="SIL" title="Identifiant #SIL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SIL&amp;op=and">Silius Italicus<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="SOL" title="Identifiant #SOL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SOL&amp;op=and">Solinus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="SOZ" title="Identifiant #SOZ" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SOZ&amp;op=and">Sozomenus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="SPART" title="Identifiant #SPART" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SPART&amp;op=and">Spartianus<span class="badge badge-pill badge-light">7</span></button><button type="button" data-criteria-type="citOf" id="STAT" title="Identifiant #STAT" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_STAT&amp;op=and">Statius<span class="badge badge-pill badge-light">11</span></button><button type="button" data-criteria-type="citOf" id="STRAB" title="Identifiant #STRAB" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_STRAB&amp;op=and">Strabo<span class="badge badge-pill badge-light">26</span></button><button type="button" data-criteria-type="citOf" id="SVET" title="Identifiant #SVET" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SVET&amp;op=and">Suetonius<span class="badge badge-pill badge-light">98</span></button><button type="button" data-criteria-type="citOf" id="SVID" title="Identifiant #SVID" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_SVID&amp;op=and">Suidas<span class="badge badge-pill badge-light">11</span></button><button type="button" data-criteria-type="citOf" id="TAC" title="Identifiant #TAC" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_TAC&amp;op=and">Tacitus<span class="badge badge-pill badge-light">194</span></button><button type="button" data-criteria-type="citOf" id="TERT" title="Identifiant #TERT" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_TERT&amp;op=and">Tertullianus<span class="badge badge-pill badge-light">11</span></button><button type="button" data-criteria-type="citOf" id="THVC" title="Identifiant #THVC" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_THVC&amp;op=and">Thucydides<span class="badge badge-pill badge-light">5</span></button><button type="button" data-criteria-type="citOf" id="TIB" title="Identifiant #TIB" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_TIB&amp;op=and">Tibullus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="VAL.FLAC" title="Identifiant #VAL.FLAC" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_VAL.FLAC&amp;op=and">#VAL.FLAC<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="VAL.MAX" title="Identifiant #VAL.MAX" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_VAL.MAX&amp;op=and">Valerius Maximus<span class="badge badge-pill badge-light">11</span></button><button type="button" data-criteria-type="citOf" id="VARRO" title="Identifiant #VARRO" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_VARRO&amp;op=and">Varro<span class="badge badge-pill badge-light">4</span></button><button type="button" data-criteria-type="citOf" id="VEG" title="Identifiant #VEG" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_VEG&amp;op=and">#VEG<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="VELL" title="Identifiant #VELL" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_VELL&amp;op=and">Velleius Paterculus<span class="badge badge-pill badge-light">13</span></button><button type="button" data-criteria-type="citOf" id="VERT" title="Identifiant #VERT" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_VERT&amp;op=and">Vertranius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="VIRG" title="Identifiant #VIRG" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_VIRG&amp;op=and">Virgilius<span class="badge badge-pill badge-light">17</span></button><button type="button" data-criteria-type="citOf" id="VITR" title="Identifiant #VITR" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_VITR&amp;op=and">#VITR<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="VLP" title="Identifiant #VLP" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_VLP&amp;op=and">Ulpianus<span class="badge badge-pill badge-light">5</span></button><button type="button" data-criteria-type="citOf" id="VOP" title="Identifiant #VOP" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_VOP&amp;op=and">Vopiscus, Vospicus<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="VVLC.GALL" title="Identifiant #VVLC.GALL" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_VVLC.GALL&amp;op=and">#VVLC.GALL<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="XEN" title="Identifiant #XEN" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_XEN&amp;op=and">Xenophon<span class="badge badge-pill badge-light">5</span></button><button type="button" data-criteria-type="citOf" id="XIPH" title="Identifiant #XIPH" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_XIPH&amp;op=and">Xiphilinus<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="ZON" title="Identifiant #ZON" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_ZON&amp;op=and">Zonaras<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="ZOSIM" title="Identifiant #ZOSIM" data-theme="secondary" class="p-0 pr-1 pl-1 mb-1 btn btn-secondary" href="?page=livre1&amp;filters=cit_ZOSIM&amp;op=and">Zosimus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="beroaldus" title="Identifiant #beroaldus" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_beroaldus&amp;op=and">#beroaldus<span class="badge badge-pill badge-light">3</span></button><button type="button" data-criteria-type="citOf" id="epict" title="Identifiant #epict" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_epict&amp;op=and">#epict<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="eur" title="Identifiant #eur" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_eur&amp;op=and">#eur<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="ferre" title="Identifiant #ferre" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_ferre&amp;op=and">#ferre<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="iunius" title="Identifiant #iunius" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_iunius&amp;op=and">#iunius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="moscho" title="Identifiant #moscho" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_moscho&amp;op=and">#moscho<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="muretus" title="Identifiant #muretus" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_muretus&amp;op=and">#muretus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="piche" title="Identifiant #piche" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_piche&amp;op=and">#piche<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="pincianus" title="Identifiant #pincianus" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_pincianus&amp;op=and">#pincianus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="rhenanus" title="Identifiant #rhenanus" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_rhenanus&amp;op=and">#rhenanus<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="torre" title="Identifiant #torre" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_torre&amp;op=and">#torre<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="torrentius" title="Identifiant #torrentius" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_torrentius&amp;op=and">#torrentius<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="?" title="Identifiant #?" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_?&amp;op=and">?<span class="badge badge-pill badge-light">15</span></button><button type="button" data-criteria-type="citOf" id="??" title="Identifiant #??" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_??&amp;op=and">??<span class="badge badge-pill badge-light">6</span></button><button type="button" data-criteria-type="citOf" id="???" title="Identifiant #???" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_???&amp;op=and">???<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="D.C" title="Identifiant #D.C" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_D.C&amp;op=and">D.C<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="LIV" title="Identifiant #LIV" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_LIV&amp;op=and">LIV<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="PLIN" title="Identifiant #PLIN" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_PLIN&amp;op=and">PLIN<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="PLIN_MIN" title="Identifiant #PLIN_MIN" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_PLIN_MIN&amp;op=and">PLIN_MIN<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="PLV" title="Identifiant #PLV" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_PLV&amp;op=and">PLV<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="SEN.PAT" title="Identifiant #SEN.PAT" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_SEN.PAT&amp;op=and">SEN.PAT<span class="badge badge-pill badge-light">1</span></button><button type="button" data-criteria-type="citOf" id="SVET" title="Identifiant #SVET" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_SVET&amp;op=and">SVET<span class="badge badge-pill badge-light">2</span></button><button type="button" data-criteria-type="citOf" id="TAC" title="Identifiant #TAC" data-theme="danger" class="p-0 pr-1 pl-1 mb-1 btn btn-danger" href="?page=livre1&amp;filters=cit_TAC&amp;op=and">TAC<span class="badge badge-pill badge-light">1</span></button>