<div id="legend">
   <h4>Mode d'emploi et légende</h4>
   <p><span class="lead">Qui a vécu quand ?</span>
      Ce petit graphique permet de positionner dans le temps les commentateurs à Tacite
      sur lesquels nous avons travaillé.</p>
</div><div class="progress"><span class="col-3 bg-light"></span><div class="progress-bar bg-light text-secondary text-left" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">|
      1450</div>
   <div class="progress-bar bg-light text-secondary text-left" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">|
      1500</div>
   <div class="progress-bar bg-light text-secondary text-left" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">|
      1550</div>
   <div class="progress-bar bg-light text-secondary text-left" role="progressbar" style="width: 10%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">|
      1600</div>
   <div class="progress-bar bg-light text-secondary text-right" role="progressbar" style="width: 15%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">1660
      |</div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Acidalius Valens</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 58.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Acidalius Valens" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1567</div>
   <div title="Acidalius Valens" class="progress-bar  bg-success" role="progressbar" style="width: 4%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Acidalius Valens" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1595&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 32.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Alciat</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 21%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Alciat" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1492</div>
   <div title="Alciat" class="progress-bar  bg-success" role="progressbar" style="width: 19%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Alciat" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1550&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 55%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Antonius Augustinus</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 33.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Antonius Augustinus" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1517</div>
   <div title="Antonius Augustinus" class="progress-bar  bg-success" role="progressbar" style="width: 24.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Antonius Augustinus" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1586&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 37%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Augerius Busbequius (Busbequius)</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 36%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Augerius Busbequius" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1522</div>
   <div title="Augerius Busbequius" class="progress-bar  bg-success" role="progressbar" style="width: 24.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Augerius Busbequius" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1591&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 34.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Beatus Rhenanus (Rhenanus)</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 17.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Beatus Rhenanus" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1485</div>
   <div title="Beatus Rhenanus" class="progress-bar  bg-success" role="progressbar" style="width: 21%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Beatus Rhenanus" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1547&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 56.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Beroaldus (Filippo Beroaldo)</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 1.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Beroaldus" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1453</div>
   <div title="Beroaldus" class="progress-bar  bg-success" role="progressbar" style="width: 16%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Beroaldus" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1505&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 77.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Carolus Clusius</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 38%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Carolus Clusius" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1526</div>
   <div title="Carolus Clusius" class="progress-bar  bg-success" role="progressbar" style="width: 31.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Carolus Clusius" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1609&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 25.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Christophorus Colerus</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 76%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Christophorus Colerus" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1602</div>
   <div title="Christophorus Colerus" class="progress-bar  bg-success" role="progressbar" style="width: 18%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Christophorus Colerus" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1658&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 1%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Cujacius (Cujas)</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 36%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Cujacius" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1522</div>
   <div title="Cujacius" class="progress-bar  bg-success" role="progressbar" style="width: 24%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Cujacius" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1590&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 35%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Deckerius</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 55%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Deckerius" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1560</div>
   <div title="Deckerius" class="progress-bar  bg-success" role="progressbar" style="width: 19.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Deckerius" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1619&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 20.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Faernus Cremonensis</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 30%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Faernus Cremonensis" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1510</div>
   <div title="Faernus Cremonensis" class="progress-bar  bg-success" role="progressbar" style="width: 15.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Faernus Cremonensis" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1561&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 49.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Ferretti</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 19.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Ferretti" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1489</div>
   <div title="Ferretti" class="progress-bar  bg-success" role="progressbar" style="width: 21.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Ferretti" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1552&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 54%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Gruter</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 55%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Gruter" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1560</div>
   <div title="Gruter" class="progress-bar  bg-success" role="progressbar" style="width: 23.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Gruter" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1627&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 16.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">
      ? Hadrianus Junius</label><div class="progress-bar progress-bar-striped bg-light text-secondary text-left" role="progressbar" style="width: 30.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Hadrianus Junius" class="progress-bar progress-bar-striped bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1511</div>
   <div title="Hadrianus Junius" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 22.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Hadrianus Junius" class="progress-bar progress-bar-striped bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1576&nbsp;</div>
   <div class="progress-bar-striped bg-light text-secondary text-right" role="progressbar" style="width: 42%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">
      ? Franciscus Junius</label><div class="progress-bar progress-bar-striped bg-light text-secondary text-left" role="progressbar" style="width: 70.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Franciscus Junius" class="progress-bar progress-bar-striped bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1591</div>
   <div title="Franciscus Junius" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 33%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Franciscus Junius" class="progress-bar progress-bar-striped bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1677&nbsp;</div>
   <div class="progress-bar-striped bg-light text-secondary text-right" role="progressbar" style="width: -8.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Hieronymus Groslotius</label><div class="progress-bar bg-light text-secondary text-left" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div class="progress-bar bg-light text-secondary text-right" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Iacobus Campius</label><div class="progress-bar bg-light text-secondary text-left" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div class="progress-bar bg-light text-secondary text-right" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Iosias Mercerius</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 55%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Iosias Mercerius" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1560</div>
   <div title="Iosias Mercerius" class="progress-bar  bg-success" role="progressbar" style="width: 23%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Iosias Mercerius" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1626&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 17%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Janus Douza</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 47.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Janus Douza" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1545</div>
   <div title="Janus Douza" class="progress-bar  bg-success" role="progressbar" style="width: 19.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Janus Douza" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1604&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 28%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Juste Lipse</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 48.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Juste Lipse" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1547</div>
   <div title="Juste Lipse" class="progress-bar  bg-success" role="progressbar" style="width: 19.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Juste Lipse" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1606&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 27%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Lupanus</label><div class="progress-bar bg-light text-secondary text-left" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div class="progress-bar bg-light text-secondary text-right" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Marcellus Donatus</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 44%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Marcellus Donatus" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1538</div>
   <div title="Marcellus Donatus" class="progress-bar  bg-success" role="progressbar" style="width: 22%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Marcellus Donatus" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1602&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 29%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Modius</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 43%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Modius" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1536</div>
   <div title="Modius" class="progress-bar  bg-success" role="progressbar" style="width: 20.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Modius" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1597&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 31.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Muretus</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 38%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Muretus" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1526</div>
   <div title="Muretus" class="progress-bar  bg-success" role="progressbar" style="width: 19.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Muretus" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1585&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 37.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Nicolas Faber</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 47%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Nicolas Faber" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1544</div>
   <div title="Nicolas Faber" class="progress-bar  bg-success" role="progressbar" style="width: 24%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Nicolas Faber" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1612&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 24%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Onofrius</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 40%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Onofrius" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1530</div>
   <div title="Onofrius" class="progress-bar  bg-success" role="progressbar" style="width: 9%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Onofrius" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1568&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 46%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Petrus Danesius</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 23.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Petrus Danesius" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1497</div>
   <div title="Petrus Danesius" class="progress-bar  bg-success" role="progressbar" style="width: 30%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Petrus Danesius" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1577&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 41.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Petrus Faber</label><div class="progress-bar bg-light text-secondary text-left" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div class="progress-bar bg-light text-secondary text-right" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Pichenas</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 51.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Pichenas" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1553</div>
   <div title="Pichenas" class="progress-bar  bg-success" role="progressbar" style="width: 26.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Pichenas" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1626&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 17%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Pighius</label><div class="progress-bar bg-light text-secondary text-left" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div class="progress-bar bg-light text-secondary text-right" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Pincianus</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 12.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Pincianus" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1475</div>
   <div title="Pincianus" class="progress-bar  bg-success" role="progressbar" style="width: 29%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Pincianus" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1553&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 53.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Torrentius</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 37.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Torrentius" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1525</div>
   <div title="Torrentius" class="progress-bar  bg-success" role="progressbar" style="width: 25%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Torrentius" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1595&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 32.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Turnebus</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 31%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Turnebus" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1512</div>
   <div title="Turnebus" class="progress-bar  bg-success" role="progressbar" style="width: 16.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Turnebus" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1565&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 47.5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Ursinus</label><div class="progress-bar  bg-light text-secondary text-left" role="progressbar" style="width: 39.5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Ursinus" class="progress-bar  bg-success text-left" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">&nbsp;1529</div>
   <div title="Ursinus" class="progress-bar  bg-success" role="progressbar" style="width: 25.5%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
   <div title="Ursinus" class="progress-bar  bg-success text-right" role="progressbar" style="width: 5%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">1600&nbsp;</div>
   <div class=" bg-light text-secondary text-right" role="progressbar" style="width: 30%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div><div class="progress mt-1"><label class="progress-label col-3 text-left align-middle mr-1">Vertranius (Vetranius)</label><div class="progress-bar bg-light text-secondary text-left" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
   <div class="progress-bar bg-light text-secondary text-right" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
</div>